<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="false"
	convertWarningsToExceptions="false"
	>
	<testsuites>
		<testsuite name="Default">
			<directory prefix="test-" suffix=".php">./tests/phpunit</directory>
		</testsuite>
	</testsuites>
	<php>
		<ini name="error_reporting" value="32767" />
		<ini name="display_errors" value="1" />
		<ini name="display_startup_errors" value="1" />
	</php>
</phpunit>
