/* product rating CSS */

.votes{
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 7pt;
 color: #333;
  }

span.votetext{
 display:block;
 overflow:visible;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 9pt;
 color: #333;
 height: 0;
 }

td.votetext{
 width: 90px;
  }

td.votes{
 text-align: center;
  }

.starcontainer{
 margin: 0;
 padding: 0;
 width: 90px;
 height: 17px;
 overflow: hidden;
 background: #c4c4b8;
 position: relative;
 }

.starcontainer a{
 margin: 0 !important;
 padding: 0 !important;
 border: 0;
 }

.starcontainer a img{
 margin: 0 !important;
 padding: 0 !important;
 border: 0;
 width: 18px !important;
 height: 17px !important;
 }

#singleimg{
 margin: 0;
 padding: 0;
 width: 240px;
 text-align:center;
 }

#starcont2{
 margin: 0;
 padding: 0;
 width: 90px;
 height: 17px;
 overflow: hidden;
 background: #888;
 }

#starmove{
 width: 190px;
 margin: 0;
 padding-left: 10px;
 }

img.goldstar{
 padding: 0;
 margin: 0;
 border: none;
 }

#starmovenv{
 width: 150px;
 margin: 0;
 padding: 0;
 height: 17px;
  }

#startxtmove{
 width: 110px;
 margin: 0;
 padding: 0;
  }

#goldstarcont{
 margin: 0;
 padding: 0;
 height: 17px;
 overflow: hidden;
 }

.starimage{
  background: transparent !important;
  float: none !important;
}

div.starcontainer a:hover{
 background: url('../images/blue-star.gif') !important;
}

a.star1{
 display:block;
 width: 18px;
 text-align: right;
 z-index: 5;
 position: absolute;
 top: 0;
 left: 0;
 }

a.star2{
 display:block;
 width: 36px;
 text-align: right;
 z-index: 4;
 position: absolute;
 top: 0;
 left: 0;
 }

a.star3{
 display:block;
 width: 54px;
 text-align: right;
 z-index: 3;
 position: absolute;
 top: 0;
 left: 0;
 }

a.star4{
 display:block;
 width: 72px;
 text-align: right;
 z-index: 2;
 position: absolute;
 top: 0;
 left: 0;
 }

a.star5{
 display:block;
 width: 90px;
 text-align: right;
 z-index: 1;
 position: absolute;
 top: 0;
 left: 0;
 }