/*******************
Global Classes
*******************/

.wpsc-clearfix:after,
.wpsc-cart-notification-inner:after,
.wpsc-totals-table:after {
	content: "";
	display: table;
	clear: both;
}

.wpsc-hide {
	display: none;
}

/* value x 4 i.e. 2.5 x 4 = 10% */

#wpsc-cart-notification {
	position: fixed;
	top: 10%;
	left: 50%;
	margin-left: -364px;
	width: 728px;
	height: 450px;
	z-index: 160000;
	border: 1px solid #ccc;
	background: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	overflow: hidden;
}

#wpsc-cart-notification .wpsc-form-actions {
	display: block;
	padding: 20px 0;
	border-top: 1px solid #ccc;
	text-align: right;
}

#wpsc-cart-notification .wpsc-form-actions button {
	font-size: .8em;
}

#wpsc-cart-notification .wpsc-form-actions .wpsc-close-modal {
	float: left;
}

.wpsc-cart-set-height .wpsc-cart-notification-inner,
.wpsc-cart-set-height .wpsc-cart-table,
.wpsc-cart-set-height .wpsc-cart-what-was-added,
.wpsc-cart-set-height .wpsc-cart-body {
	height: 100%;
	overflow: hidden;
}

.wpsc-overflow .wpsc-cart-body {
	overflow: scroll;
}

.wpsc-cart-notification-inner .wpsc-cart-cell.image {
	width: 50%;
	float: left;
}

.wpsc-cart-notification-inner .wpsc-cart-cell.image img {
	max-height: 100%;
	max-width: 90%;
	width: auto;
	height: auto;
	margin-right: 10%;
}

.wpsc-cart-notification-inner .wpsc-cart-item:first-child {
	padding-top: 15px;
}

.wpsc-cart-notification-inner .wpsc-cart-item.wpsc-cart-no-thumb .wpsc-cart-cell.items {
	width: 100%;
}

.wpsc-cart-notification-inner .wpsc-cart-item-row-actions {
	line-height: initial;
}

.wpsc-cart-notification-inner .wpsc-cart-item-row-actions .wpsc-button {
	display: inline-block;
}

.wpsc-cart-notification-inner .wpsc-cart-view-toggle {
	float: right;
}

.wpsc-cart-notification-inner .wpsc-cart-view-toggle i {
	cursor: pointer;
}

.wpsc-modal-normal-view.wpsc-cart-notification-inner .wpsc-cart-cell.image {
	display: none;
}

.wpsc-modal-normal-view .wpsc-cart-cell.items {
	width: 100%;
}

.wpsc-modal-normal-view .wpsc-cart-cell.items .wpsc-cart-quantity,
.wpsc-modal-normal-view .wpsc-cart-cell.items .wpsc-cart-item-total,
.wpsc-modal-normal-view .wpsc-cart-cell.items .wpsc-cart-item-row-actions {
	display: inline;
}

.wpsc-modal-normal-view .wpsc-cart-cell.items .wpsc-cart-quantity:after,
.wpsc-modal-normal-view .wpsc-cart-cell.items .wpsc-cart-item-total:after {
	content: ', ';
}

.wpsc-modal-normal-view .wpsc-cart-cell.items .wpsc-cart-item-details {
	display: none;
}

.wpsc-modal-normal-view .wpsc-cart-label,
.wpsc-modal-normal-view .wpsc-cart-item-details {
	display: none;
}

.wpsc-modal-normal-view .wpsc-cart-item-row-actions .wpsc-button {
	display: inline;
}

.wpsc-modal-normal-view .wpsc-cart-item-row-actions .wpsc-button span {
	display: none;
}

.wpsc-close-modal {
	cursor: pointer;
}

.wpsc-close-modal.wpsc-icon-remove {
	color: transparent;
	width: 1.8em;
	height: 1.8em;
	display: block;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	line-height: 1.8em;
	font-size: 16px;
	overflow: hidden;
}

.wpsc-close-modal.wpsc-icon-remove:before {
	color: initial;
}

.wpsc-cart-what-was-added {
	display: block;
	position: relative;
	width: 40%;
	float: left;
	padding: 0 20px 0 0;
}

.wpsc-confirmation-message .wpsc-cart-action-icon {
	line-height: 0em;
	font-size: 1.4em;
	padding-right: 7px;
}

.wpsc-confirmation-totals {
	width: 60%;
	float: right;
	padding: 0 0 0;
}

.wpsc-cart-status {
	font-weight: bold;
}

.wpsc-totals-table {
	display: block;
	padding: 20px 0;
	border-top: 1px solid #ccc;
}

.wpsc-totals-table .wpsc-totals-row-label {
	width: 68%;
	float: left;
	padding-right: 2%;
	clear: both;
	text-align: left;
}

.wpsc-totals-table .wpsc-totals-row-total {
	width: 30%;
	float: left;
}

.wpsc-cart-item-edit-wrap .wpsc-field-quantity {
	display: block;
}

.wpsc-cart-item-edit-wrap .wpsc-field-quantity.wpsc-hide {
	display: none;
}

#wpsc-modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: 0.5;
	z-index: 159900;
}

#wpsc-view-cart-button {
	font-size: 1.2em;
	position: fixed;
	bottom: 25%;
	right: 0;
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	box-shadow: none;
	width: 3em;
	height: 3em;
	line-height: 1.5em;
}

/*# sourceMappingURL=cart-notifications.css.map */

