/*******************
Variables 
*******************/
/* Typography */
/* Shopping Cart Single Product Cells (Needs to add up to 100%) */
/* value x 4 i.e. 2.5 x 4 = 10% */
/*Product Grid*/
.wpsc-grid {
  /**********************************
  Product Grid on Archive Store Pages 
  **********************************/ }
  .wpsc-grid .wpsc-product-description {
    display: none; }
  .wpsc-grid #wpsc-products {
    margin-left: -2.5%;
    font-size: 0; }
  .wpsc-grid .wpsc-product {
    display: inline-block;
    margin: 0 0 7% 2.5%;
    font-size: initial;
    vertical-align: top; }
  .wpsc-grid .wpsc-page-main-store .wpsc-product-summary {
    width: 100%; }
  .wpsc-grid .wpsc-product-thumbnail {
    margin: 0 0 10px; }
    .wpsc-grid .wpsc-product-thumbnail img {
      max-width: 100%;
      height: auto; }
  .wpsc-grid .wpsc-column-2 {
    width: 47.5%; }
  .wpsc-grid .wpsc-column-3 {
    width: 30.833%; }
  .wpsc-grid .wpsc-column-4 {
    width: 22.5%; }
  .wpsc-grid .wpsc-column-5 {
    width: 17.5%; }
  .wpsc-grid .wpsc-column-6 {
    width: 14.166%; }

.wpsc-list {
  /*****************
  Product List
  *****************/ }
  .wpsc-list .wpsc-thumbnail-wrapper {
    display: inline-block; }
  .wpsc-list .wpsc-product-summary {
    display: inline-block;
    float: right; }

.wpsc-single {
  /*****************
  Product List
  *****************/ }
  .wpsc-single .wpsc-thumbnail-wrapper {
    display: inline-block; }
  .wpsc-single .wpsc-product-summary {
    display: inline-block;
    float: right; }

/*******************
Shopping Cart 
********************/
.wpsc-cart-table {
  width: 100%; }

.wpsc-cart-item,
.wpsc-row {
  display: block;
  padding: 20px 0;
  border-top: 1px solid #ccc; }

.wpsc-cart-item:last-of-type {
  border-bottom: 1px solid #ccc; }

.wpsc-cart-cell-header {
  font-size: 12px;
  font-weight: 600; }

.wpsc-cart-cell, .wpsc-cart-cell-header {
  display: inline-block;
  margin-right: 2.5%; }

.wpsc-cart-cell:last-of-type, .wpsc-cart-cell-header:last-of-type, .wpsc-cart-cell-header:last-of-type {
  margin-right: 0; }

/* Single Product Row */
.wpsc-cart-cell.image, .image.wpsc-cart-cell-header {
  width: 20%; }

.wpsc-cart-cell.items, .items.wpsc-cart-cell-header {
  width: 40%; }

.wpsc-cart-cell.unit-price, .unit-price.wpsc-cart-cell-header {
  width: 10%; }

.wpsc-cart-cell.quantity, .quantity.wpsc-cart-cell-header {
  width: 10%; }

.wpsc-cart-cell.item-total, .item-total.wpsc-cart-cell-header {
  width: 10%; }

/* Product Headers */
/* Cart Footer */
.wpsc-cart-footer {
  margin-right: 0; }
  .wpsc-cart-footer .wpsc-cart-cell, .wpsc-cart-footer .wpsc-cart-cell-header,
  .wpsc-cart-footer .wpsc-cart-aggregate {
    text-align: right;
    margin-right: 0; }
  .wpsc-cart-footer .wpsc-row {
    border: 0; }
  .wpsc-cart-footer .wpsc-cart-actions-row {
    text-align: justify;
    padding-bottom: 0; }
  .wpsc-cart-footer .wpsc-cart-actions-row:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0; }
  .wpsc-cart-footer .apply-coupon {
    vertical-align: top;
    text-align: left; }
  .wpsc-cart-footer .update-quantity {
    text-align: right; }

/* Sidebar Cart */
.widget {
  /* Mobile and Sidebar Cart Styling */ }
  .widget .wpsc-cart-cell, .widget .wpsc-cart-cell-header, .widget .wpsc-cart-cell-header {
    display: block; }
  .widget .wpsc-cart-header {
    display: none; }
  .widget .wpsc-cart-cell.image, .widget .image.wpsc-cart-cell-header,
  .widget .wpsc-cart-cell.items,
  .widget .items.wpsc-cart-cell-header,
  .widget .wpsc-cart-cell.unit-price,
  .widget .unit-price.wpsc-cart-cell-header,
  .widget .wpsc-cart-cell.quantity,
  .widget .quantity.wpsc-cart-cell-header,
  .widget .wpsc-cart-cell.item-total,
  .widget .item-total.wpsc-cart-cell-header {
    width: 100%; }
  .widget .wpsc-cart-cell.unit-price:before, .widget .unit-price.wpsc-cart-cell-header:before,
  .widget .wpsc-cart-cell.quantity:before,
  .widget .quantity.wpsc-cart-cell-header:before,
  .widget .wpsc-cart-cell.item-total:before,
  .widget .item-total.wpsc-cart-cell-header:before {
    font-weight: 600;
    content: attr(data-title); }
  .widget .wpsc-cart-quantity-input {
    width: 50%; }

.wpsc-checkout {
  /*******************
  Checkout
  ********************/ }
  .wpsc-checkout .entry-content .wpsc-field-textfield input {
    width: 90%; }
  .wpsc-checkout .entry-content #wpsc-checkout-form-shipping {
    margin-left: 5%; }
  .wpsc-checkout .entry-content fieldset {
    width: 47.5%;
    display: inline-block;
    vertical-align: top; }
  .wpsc-checkout .entry-content .wpsc-field-wpsc_shipping_option, .wpsc-checkout .entry-content .wpsc-shipping-method, .wpsc-checkout .entry-content .wpsc-payment-method, .wpsc-checkout .entry-content #wpsc-checkout-form .wpsc-form-actions {
    text-align: left; }
  .wpsc-checkout .entry-content .wpsc-order-preview {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ccc; }
  .wpsc-checkout .entry-content .wpsc-cart-quantity-input {
    width: 40px; }

/*****************
Media Queries
*****************/
@media (max-width: 960px) {
  .wpsc-grid .wpsc-column-6,
  .wpsc-grid .wpsc-column-5 {
    width: 22.5%; } }
@media (max-width: 700px) {
  .wpsc-grid .wpsc-column-6,
  .wpsc-grid .wpsc-column-5,
  .wpsc-grid .wpsc-column-4 {
    width: 30.833%; } }
@media (max-width: 550px) {
  /* Mobile and Sidebar Cart Styling */
  .wpsc-cart-cell, .wpsc-cart-cell-header, .wpsc-cart-cell-header {
    display: block; }

  .wpsc-cart-header {
    display: none; }

  .wpsc-cart-cell.image, .image.wpsc-cart-cell-header,
  .wpsc-cart-cell.items,
  .items.wpsc-cart-cell-header,
  .wpsc-cart-cell.unit-price,
  .unit-price.wpsc-cart-cell-header,
  .wpsc-cart-cell.quantity,
  .quantity.wpsc-cart-cell-header,
  .wpsc-cart-cell.item-total,
  .item-total.wpsc-cart-cell-header {
    width: 100%; }

  .wpsc-cart-cell.unit-price:before, .unit-price.wpsc-cart-cell-header:before,
  .wpsc-cart-cell.quantity:before,
  .quantity.wpsc-cart-cell-header:before,
  .wpsc-cart-cell.item-total:before,
  .item-total.wpsc-cart-cell-header:before {
    font-weight: 600;
    content: attr(data-title); }

  .wpsc-cart-quantity-input {
    width: 50%; }

  .wpsc-grid .wpsc-column-6,
  .wpsc-grid .wpsc-column-5,
  .wpsc-grid .wpsc-column-4,
  .wpsc-grid .wpsc-column-3,
  .wpsc-grid .wpsc-column-2 {
    width: 100%; }

  .wpsc-single .wpsc-thumbnail-wrapper,
  .wpsc-single .wpsc-product-summary,
  .wpsc-list .wpsc-thumbnail-wrapper,
  .wpsc-list .wpsc-product-summary {
    display: block;
    float: none;
    width: 100%; }

  .wpsc-cart-footer .wpsc-cart-actions-row {
    text-align: right;
    padding-bottom: 20px; }
  .wpsc-cart-footer .wpsc-cart-actions-row:after {
    text-align: right;
    display: block;
    width: 100%;
    height: 0; }
  .wpsc-cart-footer .update-quantity {
    display: inline-block; }

  .wpsc-checkout .entry-content fieldset {
    min-width: 100%;
    display: block; }
  .wpsc-checkout .entry-content #wpsc-checkout-form-shipping {
    margin-left: 0; }
  .wpsc-checkout .entry-content .apply-coupon {
    margin-bottom: 20px;
    text-align: right; } }
