/*******************
Global Classes
*******************/

.wpsc-clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.wpsc-hide {
	display: none;
}

/* value x 4 i.e. 2.5 x 4 = 10% */

.wpsc-grid { /**********************************
  Product Grid on Archive Store Pages 
  **********************************/ /*******************
  Opinionated Styles
  ********************/ /* Typography */ /* Variations and Quantity */ /* Sale Info */ /* Flexbox */ /* Layout */
}

.wpsc-grid .wpsc-product-description {
	display: none;
}

.wpsc-grid #wpsc-products {
	margin-left: -2.5%;
	font-size: 0;
}

.wpsc-grid .wpsc-product {
	display: inline-block;
	margin: 0 0 7% 2.5%;
	font-size: initial;
	vertical-align: top;
	padding-top: 0;
}

.wpsc-grid .wpsc-product + .wpsc-product {
	margin-top: 0;
}

.wpsc-grid .wpsc-product-summary {
	width: 100%;
}

.wpsc-grid .wpsc-product-thumbnail {
	margin: 0 0 10px;
}

.wpsc-grid .wpsc-product-thumbnail img {
	max-width: 100%;
	height: auto;
}

.wpsc-grid .wpsc-product-title {
	margin-top: 0;
	word-wrap: normal;
	hyphens: initial;
}

.wpsc-grid .wpsc-column-2 {
	width: 47.5%;
}

.wpsc-grid .wpsc-column-3 {
	width: 30.833%;
}

.wpsc-grid .wpsc-column-4 {
	width: 22.5%;
}

.wpsc-grid .wpsc-column-5 {
	width: 17.5%;
}

.wpsc-grid .wpsc-column-6 {
	width: 14.166%;
}

.wpsc-grid .wpsc-product {
	font-size: 16px;
	text-align: center;
}

.wpsc-grid .wpsc-column-2 .wpsc-product-title {
	font-size: 1.75em;
}

.wpsc-grid .wpsc-column-2 .wpsc-old-price {
	font-size: 0.85em;
}

.wpsc-grid .wpsc-column-2 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-2 .wpsc-sale,
.wpsc-grid .wpsc-column-2 .wpsc-product-price > .wpsc-amount {
	font-size: 1.25em;
}

.wpsc-grid .wpsc-column-3 .wpsc-product-title {
	font-size: 1.35em;
}

.wpsc-grid .wpsc-column-3 .wpsc-old-price {
	font-size: 0.8em;
}

.wpsc-grid .wpsc-column-3 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-3 .wpsc-sale,
.wpsc-grid .wpsc-column-3 .wpsc-product-price > .wpsc-amount {
	font-size: 1em;
}

.wpsc-grid .wpsc-column-4 .wpsc-product-title {
	font-size: 1.25em;
}

.wpsc-grid .wpsc-column-4 .wpsc-old-price {
	font-size: 0.7em;
}

.wpsc-grid .wpsc-column-4 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-4 .wpsc-sale,
.wpsc-grid .wpsc-column-4 .wpsc-product-price > .wpsc-amount {
	font-size: 0.9em;
}

.wpsc-grid .wpsc-column-5 .wpsc-product-title {
	font-size: 1.15em;
}

.wpsc-grid .wpsc-column-5 .wpsc-old-price {
	font-size: 0.65em;
}

.wpsc-grid .wpsc-column-5 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-5 .wpsc-sale,
.wpsc-grid .wpsc-column-5 .wpsc-product-price > .wpsc-amount {
	font-size: 0.85em;
}

.wpsc-grid .wpsc-column-6 .wpsc-product-title {
	font-size: 1.05em;
}

.wpsc-grid .wpsc-column-6 .wpsc-old-price {
	font-size: 0.6em;
}

.wpsc-grid .wpsc-column-6 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-6 .wpsc-sale,
.wpsc-grid .wpsc-column-6 .wpsc-product-price > .wpsc-amount {
	font-size: 0.8em;
}

.wpsc-grid .wpsc-thumbnail-wrapper {
	margin-bottom: 16px;
}

.wpsc-grid .wpsc-field-quantity,
.wpsc-grid .wpsc-field {
	display: none;
}

.wpsc-grid .wpsc-product-price br {
	display: none;
}

.wpsc-grid .wpsc-old-price {
	font-size: .8em;
	color: #666;
}

.wpsc-grid ins.wpsc-sale-price {
	background: initial;
	margin-left: 5px;
	white-space: nowrap;
	color: initial;
}

.wpsc-grid .wpsc-form-actions button {
	margin-left: auto;
	margin-right: auto;
}

.wpsc-list { /*****************
  Product List
  *****************/
}

.wpsc-list h2.wpsc-product-title {
	margin-top: 1em;
}

.wpsc-list .wpsc-add-to-cart-form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.wpsc-list .wpsc-add-to-cart-form .wpsc-form-actions {
	margin-bottom: 0;
}

.wpsc-list .wpsc-add-to-cart-form .wpsc-field {
	margin-right: 5%;
}

/*******************
Shopping Cart
********************/

.wpsc-cart-table {
	width: 100%;
}

.wpsc-cart-item,
.wpsc-row,
.wpsc-cart-footer {
	display: block;
	padding: 20px 0;
	border-top: 1px solid #ccc;
}

.wpsc-cart-header {
	border-top: 1px solid #ccc;
}

.wpsc-cart-cell-header {
	font-size: 12px;
	font-weight: 600;
}

.wpsc-cart-cell,
.wpsc-cart-cell-header {
	display: inline-block;
	margin-right: 2.5%;
}

.wpsc-cart-cell:last-of-type,
.wpsc-cart-cell-header:last-of-type {
	margin-right: 0;
}

.wpsc-form-actions {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.express-checkout-button,
.wpsc-begin-checkout {
	display: inline-block;
	vertical-align: bottom;
	box-shadow: none !important;
}

.express-checkout-button {
	border-bottom: none !important;
}

.paypal-express-separator {
	margin: 0 0.5em;
}

/* Single Product Row */

.wpsc-cart-cell.image,
.wpsc-cart-cell-header.image {
	width: 20%;
}

.wpsc-cart-cell.items,
.wpsc-cart-cell-header.items {
	width: 34%;
}

.wpsc-cart-cell.unit-price,
.wpsc-cart-cell-header.unit-price {
	width: 12%;
}

.wpsc-cart-cell.quantity,
.wpsc-cart-cell-header.quantity {
	width: 12%;
}

.wpsc-cart-quantity-input {
	width: 100%;
}

.wpsc-cart-cell.item-total,
.wpsc-cart-cell-header.item-total {
	width: 12%;
}

/* Product Headers */

/* Cart Footer */

.wpsc-cart-footer .wpsc-cart-cell,
.wpsc-cart-footer .wpsc-cart-aggregate {
	text-align: right;
	margin-right: 0;
}

.wpsc-cart-footer .wpsc-row {
	border: 0;
	padding: 0;
}

.wpsc-cart-footer .wpsc-cart-actions-row {
	text-align: justify;
	padding-bottom: 0;
}

.wpsc-cart-footer .wpsc-cart-actions-row:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 0;
}

.wpsc-cart-footer .apply-coupon {
	vertical-align: top;
	text-align: left;
}

.wpsc-cart-footer .update-quantity {
	text-align: right;
}

/* Sidebar Cart */

.widget { /* Mobile and Sidebar Table Styling */
}

.widget .wpsc-cart-cell,
.widget .wpsc-cart-cell-header {
	display: block;
}

.widget .wpsc-cart-header {
	display: none;
}

.widget .wpsc-cart-cell.image,
.widget .wpsc-cart-cell-header.image {
	width: 100%;
}

.widget .wpsc-cart-cell.items,
.widget .wpsc-cart-cell-header.items {
	width: 100%;
}

.widget .wpsc-cart-cell.unit-price,
.widget .wpsc-cart-cell-header.unit-price {
	width: 100%;
}

.widget .wpsc-cart-cell.quantity,
.widget .wpsc-cart-cell-header.quantity {
	width: 100%;
}

.widget .wpsc-cart-cell.item-total,
.widget .wpsc-cart-cell-header.item-total {
	width: 100%;
}

.widget .wpsc-cart-cell.id,
.widget .wpsc-cart-cell-header.id {
	width: 100%;
}

.widget .wpsc-cart-cell.date,
.widget .wpsc-cart-cell-header.date {
	width: 100%;
}

.widget .wpsc-cart-cell.status,
.widget .wpsc-cart-cell-header.status {
	width: 100%;
}

.widget .wpsc-cart-cell.tracking-id,
.widget .wpsc-cart-cell-header.tracking-id {
	width: 100%;
}

.widget .wpsc-cart-cell.total,
.widget .wpsc-cart-cell-header.total {
	width: 100%;
}

.widget .wpsc-cart-cell.unit-price:before,
.widget .wpsc-cart-cell-header.unit-price:before {
	font-weight: 600;
	content: attr(data-title);
}

.widget .wpsc-cart-cell.quantity:before,
.widget .wpsc-cart-cell-header.quantity:before {
	font-weight: 600;
	content: attr(data-title);
}

.widget .wpsc-cart-cell.item-total:before,
.widget .wpsc-cart-cell-header.item-total:before {
	font-weight: 600;
	content: attr(data-title);
}

.widget .wpsc-cart-cell.id:before,
.widget .wpsc-cart-cell-header.id:before {
	font-weight: 600;
	content: attr(data-title);
}

.widget .wpsc-cart-cell.date:before,
.widget .wpsc-cart-cell-header.date:before {
	font-weight: 600;
	content: attr(data-title);
}

.widget .wpsc-cart-cell.status:before,
.widget .wpsc-cart-cell-header.status:before {
	font-weight: 600;
	content: attr(data-title);
}

.widget .wpsc-cart-cell.tracking-id:before,
.widget .wpsc-cart-cell-header.tracking-id:before {
	font-weight: 600;
	content: attr(data-title);
}

.widget .wpsc-cart-cell.total:before,
.widget .wpsc-cart-cell-header.total:before {
	font-weight: 600;
	content: attr(data-title);
}

.widget .wpsc-cart-quantity-input {
	width: 25%;
}

.widget .wpsc-cart-item-title {
	font-size: 1.15em;
	hyphens: initial;
	word-wrap: normal;
}

.widget .wpsc-cart-item:first-of-type {
	border-top: none;
}

.widget .wpsc-form-actions.bottom {
	padding-top: 20px;
}

.widget .wpsc-cart-cell.update-quantity {
	text-align: center;
}

.widget .wpsc-cart-update {
	float: none;
}

.widget .wpsc-clear-cart {
	display: block;
	text-align: center;
}

.widget .wpsc-cart-footer .wpsc-cart-cell-header,
.widget .wpsc-cart-footer .wpsc-cart-cell {
	display: inline-block;
}

.widget .wpsc-cart-footer .wpsc-cart-cell-header {
	float: left;
	text-align: left;
}

.widget .wpsc-cart-footer .wpsc-cart-cell {
	text-align: right;
}

.widget .wpsc-form-actions button {
	margin-left: auto;
	margin-right: auto;
}

.widget [class*="widget_wpsc_"] ul {
	margin-left: 0;
}

.widget [class*="widget_wpsc_"] li {
	list-style-type: none;
}

.widget .wpsc-widget-latest-product-list-item {
	margin-bottom: 1.5em;
}

.widget .wpsc-widget-latest-product-list-item a {
	font-size: 1.15em;
}

.widget .widget_wpsc_widget_on_sale .wpsc-widget-latest-product-list-item .wpsc-product-price {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.widget .widget_wpsc_widget_on_sale .wpsc-widget-latest-product-list-item .wpsc-sale-price {
	font-weight: 600;
}

.widget .widget_wpsc_widget_on_sale .wpsc-widget-latest-product-list-item .wpsc-you-save {
	width: 100%;
	font-size: 0.8em;
}

.wpsc-checkout { /*******************
  Checkout
  ********************/
}

.wpsc-checkout .wpsc-field-textfield input {
	width: 100%;
}

.wpsc-checkout #wpsc-checkout-form-shipping {
	margin-left: 5%;
}

.wpsc-checkout .wpsc-field-wpsc_shipping_option,
.wpsc-checkout .wpsc-shipping-method,
.wpsc-checkout .wpsc-payment-method {
	text-align: left;
}

.wpsc-checkout .wpsc-order-preview {
	margin-bottom: 1.5em;
}

.wpsc-checkout .wpsc-cart-quantity-input {
	width: 40px;
}

.wpsc-checkout .wpsc-form-radio-wrapper img {
	vertical-align: middle;
}

.wpsc-checkout .wpsc-paypal li {
	list-style-type: none;
}

.wpsc-checkout .entry-content .cc-form-fieldset {
	display: none;
}

.wpsc-checkout .wpsc-credit-card-form-card-number {
	width: 100%;
}

.wpsc-checkout .wpsc-form-row-wide {
	width: 100%;
}

/*****************
Single Product
*****************/

.wpsc-page-single .wpsc-thumbnail-wrapper {
	float: left;
}

.wpsc-page-single .wpsc-product-summary {
	float: right;
}

.wpsc-page-single .wpsc-add-to-cart-form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	align-items: center;
}

.wpsc-page-single .wpsc-add-to-cart-form .wpsc-form-actions {
	margin-bottom: 0;
}

.wpsc-page-single .wpsc-add-to-cart-form .wpsc-field {
	margin-right: 5%;
}

/**********************
Accounts Page
***********************/

.wpsc-cart-cell.id,
.wpsc-cart-cell-header.id {
	width: 10%;
}

.wpsc-cart-cell.date,
.wpsc-cart-cell-header.date {
	width: 20%;
}

.wpsc-cart-cell.status,
.wpsc-cart-cell-header.status {
	width: 20%;
}

.wpsc-cart-cell.tracking-id,
.wpsc-cart-cell-header.tracking-id {
	width: 30%;
}

.wpsc-cart-cell.total,
.wpsc-cart-cell-header.total {
	width: 10%;
}

.wpsc-customer-account-order-details p {
	margin-bottom: 3px;
}

.wpsc-cart-cell.product,
.wpsc-cart-cell-header.product {
	width: 35%;
	margin-right: 5%;
}

.wpsc-customer-account-digital-content ul,
.wpsc-page-customer-account ul {
	margin: 0 0 10px 0;
	list-style-position: inside;
	padding: 0;
}

.wpsc-cart-cell.contents,
.wpsc-cart-cell-header.content {
	width: 60%;
}

.wpsc-digital-product-title {
	font-size: 1.35em;
	text-align: center;
	margin-bottom: 1em;
}

.wpsc-digital-product-items li:only-of-type {
	list-style: none;
}

.wpsc-customer-account-digital-content .wpsc-cart-header {
	border-top: 0;
}

/*******************
JS Float Label
********************/

.wpsc-controller.wpsc-float-js .wpsc-field-textfield,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country,
.wpsc-controller.wpsc-float-js .wpsc-field-password,
.wpsc-controller.wpsc-float-js .wpsc-cc-field {
	position: relative;
}

.wpsc-controller.wpsc-float-js .wpsc-field-textfield input,
.wpsc-controller.wpsc-float-js .wpsc-field-textfield textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region input,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country input,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-password input,
.wpsc-controller.wpsc-float-js .wpsc-field-password textarea,
.wpsc-controller.wpsc-float-js .wpsc-cc-field input,
.wpsc-controller.wpsc-float-js .wpsc-cc-field textarea {
	padding: 1em;
}

.wpsc-controller.wpsc-float-js .wpsc-field-textfield input,
.wpsc-controller.wpsc-float-js .wpsc-field-textfield textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-textfield label,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region input,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region label,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country input,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country label,
.wpsc-controller.wpsc-float-js .wpsc-field-password input,
.wpsc-controller.wpsc-float-js .wpsc-field-password textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-password label,
.wpsc-controller.wpsc-float-js .wpsc-cc-field input,
.wpsc-controller.wpsc-float-js .wpsc-cc-field textarea,
.wpsc-controller.wpsc-float-js .wpsc-cc-field label {
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.wpsc-controller.wpsc-float-js .wpsc-field-textfield label,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region label,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country label,
.wpsc-controller.wpsc-float-js .wpsc-field-password label,
.wpsc-controller.wpsc-float-js .wpsc-cc-field label {
	position: absolute;
	top: 1em;
	left: 1em;
	opacity: 0;
}

.wpsc-controller.wpsc-float-js .wpsc-field-textfield.focused label,
.wpsc-controller.wpsc-float-js .wpsc-field-textfield.populated label,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region.focused label,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region.populated label,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country.focused label,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country.populated label,
.wpsc-controller.wpsc-float-js .wpsc-field-password.focused label,
.wpsc-controller.wpsc-float-js .wpsc-field-password.populated label,
.wpsc-controller.wpsc-float-js .wpsc-cc-field.focused label,
.wpsc-controller.wpsc-float-js .wpsc-cc-field.populated label {
	opacity: 1;
	top: 0;
	left: 1em;
	font-size: 0.65em;
	font-weight: 600;
}

.wpsc-controller.wpsc-float-js .wpsc-field-textfield.focused input,
.wpsc-controller.wpsc-float-js .wpsc-field-textfield.focused textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-textfield.populated input,
.wpsc-controller.wpsc-float-js .wpsc-field-textfield.populated textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region.focused input,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region.focused textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region.populated input,
.wpsc-controller.wpsc-float-js .wpsc-field-select_region.populated textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country.focused input,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country.focused textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country.populated input,
.wpsc-controller.wpsc-float-js .wpsc-field-select_country.populated textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-password.focused input,
.wpsc-controller.wpsc-float-js .wpsc-field-password.focused textarea,
.wpsc-controller.wpsc-float-js .wpsc-field-password.populated input,
.wpsc-controller.wpsc-float-js .wpsc-field-password.populated textarea,
.wpsc-controller.wpsc-float-js .wpsc-cc-field.focused input,
.wpsc-controller.wpsc-float-js .wpsc-cc-field.focused textarea,
.wpsc-controller.wpsc-float-js .wpsc-cc-field.populated input,
.wpsc-controller.wpsc-float-js .wpsc-cc-field.populated textarea {
	padding-top: 1.5em;
	padding-bottom: .5em;
}

/*******************
Product Forms
********************/

.wpsc-field-quantity .wpsc-controls {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	border: 1px solid #ccc;
	width: 110px;
}

.wpsc-field-quantity .wpsc-controls input[type="text"] {
	width: 40px;
	-webkit-order: 2;
	-moz-order: 2;
	-ms-order: 2;
	order: 2;
	text-align: center;
	border: none;
	box-shadow: none;
}

.wpsc-field-quantity .wpsc-controls .dec {
	-webkit-order: 1;
	-moz-order: 1;
	-ms-order: 1;
	order: 1;
	width: 35px;
	text-align: center;
}

.wpsc-field-quantity .wpsc-controls .inc {
	-webkit-order: 3;
	-moz-order: 3;
	-ms-order: 3;
	order: 3;
	width: 35px;
	text-align: center;
}

.wpsc-field-quantity .wpsc-qty-button {
	padding: .5em .75em;
	cursor: pointer;
}

.fluidbox {
	outline: none;
}

.fluidbox__overlay {
	background-color: rgba(255, 255, 255, 0.85);
	cursor: pointer;
	cursor: zoom-out;
	opacity: 0;
	pointer-events: none;
	position: fixed;
	top: -100%; /* Negative top and bottom is to fix some Safari cases where image got blurry */
	left: 0;
	bottom: -100%; /* Negative top and bottom is to fix some Safari cases where image got blurry */
	right: 0; /* Transition time for overlay is halved to ensure that flickering doesn't happen */
	transition: all 0.5s ease-in-out;
}

.fluidbox--opened .fluidbox__overlay {
	pointer-events: auto;
}

.fluidbox__wrap {
	background-position: center center;
	background-size: cover;
	margin: 0 auto;
	position: relative;
	transition: all 0.5s ease-in-out;
}

.fluidbox__thumb {
	transition: opacity 0s ease-in-out 0s; /* To prevent flickering, we delay the showing of the image */
}

.fluidbox--closed .fluidbox__thumb {
	transition: opacity 0s ease-in-out 0s;
}

.fluidbox__ghost {
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	transition-duration: 0s, 0.5s;
	transition-delay: 0s;
	-webkit-transition-property: opacity, -webkit-transform; /* autoprefixer: off */
	transition-property: opacity, -webkit-transform; /* autoprefixer: off */
	transition-property: opacity, transform; /* autoprefixer: off */
}

.fluidbox--opened .fluidbox__ghost {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
	cursor: zoom-out;
}

.fluidbox--closed .fluidbox__ghost {
	transition-delay: 0.5s, 0s;
}

.fluidbox__loader {
	opacity: 0;
	perspective: 200px;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.fluidbox__loader::before { /* You can replace this with any color you want, or even a loading gif if desired */
	background-color: rgba(255, 255, 255, 0.85);
	content: '';
	transform-style: preserve-3d;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20%;
	padding-bottom: 20%;
	transform: translate(-50%, -50%);
	transition-property: transform;
	transition-duration: 0.5s;
	transition-delay: 0s;
}

.fluidbox--loading .fluidbox__loader {
	opacity: 1;
	transition: opacity 0.5s ease-in-out 0.5s;
}

.fluidbox--loading .fluidbox__loader::before {
	animation: fluidboxLoading 1s 0s infinite ease-in-out forwards;
}

/*****************
Media Queries
*****************/

/*# sourceMappingURL=wpsc-responsive.css.map */

@media (min-width: 550px) {

.wpsc-grid #wpsc-products {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.wpsc-grid .wpsc-product,
.wpsc-grid .wpsc-product-summary,
.wpsc-grid .wpsc-product-header {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.wpsc-grid .wpsc-product-summary,
.wpsc-grid .wpsc-product-header {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.wpsc-grid .wpsc-product-summary {
	height: 100%;
}

.wpsc-grid .wpsc-product-header {
	-webkit-box-flex: 1 0 auto;
	-moz-box-flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.wpsc-checkout .wpsc-checkout-form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.wpsc-checkout .wpsc-checkout-form .wpsc-form-actions {
	text-align: left;
	width: 100%;
}

.wpsc-checkout .wpsc-checkout-form fieldset {
	margin: 0 0 2em 0;
	vertical-align: top;
	-webkit-align-self: flex-start;
	-moz-align-self: flex-start;
	-ms-align-self: flex-start;
	align-self: flex-start;
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	flex-grow: 1;
	-webkit-flex-basis: 3%;
	-moz-flex-basis: 3%;
	-ms-flex-basis: 3%;
	flex-basis: 3%;
}

.wpsc-checkout .wpsc-cc-field {
	display: inline-block;
	margin-right: 3%;
}

.wpsc-checkout .wpsc-cc-field:first-of-type,
.wpsc-checkout .wpsc-cc-field:last-of-type {
	margin-right: 0;
}

.wpsc-checkout .wpsc-form-row-first {
	width: 46.7%;
}

.wpsc-checkout .wpsc-form-row-middle {
	width: 27%;
}

.wpsc-checkout .wpsc-form-row-last {
	width: 20%;
}

}

@media screen and (min-width: 550px) {

.wpsc-list .wpsc-product {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.wpsc-list h2.wpsc-product-title {
	margin-top: 0;
}

}

@media (max-width: 960px) {

.wpsc-grid .wpsc-column-6,
.wpsc-grid .wpsc-column-5 {
	width: 22.5%;
}

.wpsc-grid .wpsc-column-6 .wpsc-product-title,
.wpsc-grid .wpsc-column-5 .wpsc-product-title {
	font-size: 1.25em;
}

.wpsc-grid .wpsc-column-6 .wpsc-old-price,
.wpsc-grid .wpsc-column-5 .wpsc-old-price {
	font-size: 0.7em;
}

.wpsc-grid .wpsc-column-6 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-6 .wpsc-sale,
.wpsc-grid .wpsc-column-6 .wpsc-product-price > .wpsc-amount,
.wpsc-grid .wpsc-column-5 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-5 .wpsc-sale,
.wpsc-grid .wpsc-column-5 .wpsc-product-price > .wpsc-amount {
	font-size: 0.9em;
}

}

@media (max-width: 700px) {

.wpsc-grid .wpsc-column-6,
.wpsc-grid .wpsc-column-5,
.wpsc-grid .wpsc-column-4 {
	width: 30.833%;
}

.wpsc-grid .wpsc-column-6 .wpsc-product-title,
.wpsc-grid .wpsc-column-5 .wpsc-product-title,
.wpsc-grid .wpsc-column-4 .wpsc-product-title {
	font-size: 1.35em;
}

.wpsc-grid .wpsc-column-6 .wpsc-old-price,
.wpsc-grid .wpsc-column-5 .wpsc-old-price,
.wpsc-grid .wpsc-column-4 .wpsc-old-price {
	font-size: 0.8em;
}

.wpsc-grid .wpsc-column-6 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-6 .wpsc-sale,
.wpsc-grid .wpsc-column-6 .wpsc-product-price > .wpsc-amount,
.wpsc-grid .wpsc-column-5 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-5 .wpsc-sale,
.wpsc-grid .wpsc-column-5 .wpsc-product-price > .wpsc-amount,
.wpsc-grid .wpsc-column-4 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-4 .wpsc-sale,
.wpsc-grid .wpsc-column-4 .wpsc-product-price > .wpsc-amount {
	font-size: 1em;
}

.wpsc-cart-cell.id,
.wpsc-cart-cell-header.id {
	width: 100%;
}

.wpsc-cart-cell.date,
.wpsc-cart-cell-header.date {
	width: 100%;
}

.wpsc-cart-cell.status,
.wpsc-cart-cell-header.status {
	width: 100%;
}

.wpsc-cart-cell.tracking-id,
.wpsc-cart-cell-header.tracking-id {
	width: 100%;
}

.wpsc-cart-cell.total,
.wpsc-cart-cell-header.total {
	width: 100%;
}

.wpsc-cart-cell.id:before,
.wpsc-cart-cell-header.id:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.date:before,
.wpsc-cart-cell-header.date:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.status:before,
.wpsc-cart-cell-header.status:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.tracking-id:before,
.wpsc-cart-cell-header.tracking-id:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.total:before,
.wpsc-cart-cell-header.total:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-customer-account-index .wpsc-cart-footer,
.wpsc-customer-account-index .wpsc-cart-header {
	display: none;
}

}

@media screen and (max-width: 550px) {

.wpsc-list h2.wpsc-product-title {
	text-align: center;
}

.wpsc-list .wpsc-product-price {
	text-align: center;
}

.wpsc-list .wpsc-product-meta {
	text-align: center;
}

}

@media (max-width: 550px) {

.wpsc-list .wpsc-add-to-cart-form {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.wpsc-page-single .wpsc-add-to-cart-form {
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

/* Mobile and Sidebar Table Styling */

.wpsc-cart-cell,
.wpsc-cart-cell-header {
	display: block;
}

.wpsc-cart-header {
	display: none;
}

.wpsc-cart-cell.image,
.wpsc-cart-cell-header.image {
	width: 100%;
}

.wpsc-cart-cell.items,
.wpsc-cart-cell-header.items {
	width: 100%;
}

.wpsc-cart-cell.unit-price,
.wpsc-cart-cell-header.unit-price {
	width: 100%;
}

.wpsc-cart-cell.quantity,
.wpsc-cart-cell-header.quantity {
	width: 100%;
}

.wpsc-cart-cell.item-total,
.wpsc-cart-cell-header.item-total {
	width: 100%;
}

.wpsc-cart-cell.id,
.wpsc-cart-cell-header.id {
	width: 100%;
}

.wpsc-cart-cell.date,
.wpsc-cart-cell-header.date {
	width: 100%;
}

.wpsc-cart-cell.status,
.wpsc-cart-cell-header.status {
	width: 100%;
}

.wpsc-cart-cell.tracking-id,
.wpsc-cart-cell-header.tracking-id {
	width: 100%;
}

.wpsc-cart-cell.total,
.wpsc-cart-cell-header.total {
	width: 100%;
}

.wpsc-cart-cell.unit-price:before,
.wpsc-cart-cell-header.unit-price:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.quantity:before,
.wpsc-cart-cell-header.quantity:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.item-total:before,
.wpsc-cart-cell-header.item-total:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.id:before,
.wpsc-cart-cell-header.id:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.date:before,
.wpsc-cart-cell-header.date:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.status:before,
.wpsc-cart-cell-header.status:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.tracking-id:before,
.wpsc-cart-cell-header.tracking-id:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-cell.total:before,
.wpsc-cart-cell-header.total:before {
	font-weight: 600;
	content: attr(data-title);
}

.wpsc-cart-quantity-input {
	width: 25%;
}

.wpsc-cart-item-title {
	font-size: 1.15em;
	hyphens: initial;
	word-wrap: normal;
}

.wpsc-cart-item:first-of-type {
	border-top: none;
}

.wpsc-form-actions.bottom {
	padding-top: 20px;
}

.wpsc-cart-cell.update-quantity {
	text-align: center;
}

.wpsc-cart-update {
	float: none;
}

.wpsc-clear-cart {
	display: block;
	text-align: center;
}

.wpsc-cart-footer .wpsc-cart-cell-header,
.wpsc-cart-footer .wpsc-cart-cell {
	display: inline-block;
}

.wpsc-cart-footer .wpsc-cart-cell-header {
	float: left;
	text-align: left;
}

.wpsc-cart-footer .wpsc-cart-cell {
	text-align: right;
}

.wpsc-form-actions button {
	margin-left: auto;
	margin-right: auto;
}

[class*="widget_wpsc_"] ul {
	margin-left: 0;
}

[class*="widget_wpsc_"] li {
	list-style-type: none;
}

.wpsc-widget-latest-product-list-item {
	margin-bottom: 1.5em;
}

.wpsc-widget-latest-product-list-item a {
	font-size: 1.15em;
}

.widget_wpsc_widget_on_sale .wpsc-widget-latest-product-list-item .wpsc-product-price {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.widget_wpsc_widget_on_sale .wpsc-widget-latest-product-list-item .wpsc-sale-price {
	font-weight: 600;
}

.widget_wpsc_widget_on_sale .wpsc-widget-latest-product-list-item .wpsc-you-save {
	width: 100%;
	font-size: 0.8em;
}

.wpsc-grid .wpsc-column-6,
.wpsc-grid .wpsc-column-5,
.wpsc-grid .wpsc-column-4,
.wpsc-grid .wpsc-column-3,
.wpsc-grid .wpsc-column-2 {
	width: 100%;
}

.wpsc-grid .wpsc-column-6 .wpsc-product-title,
.wpsc-grid .wpsc-column-5 .wpsc-product-title,
.wpsc-grid .wpsc-column-4 .wpsc-product-title,
.wpsc-grid .wpsc-column-3 .wpsc-product-title,
.wpsc-grid .wpsc-column-2 .wpsc-product-title {
	font-size: 1.75em;
}

.wpsc-grid .wpsc-column-6 .wpsc-old-price,
.wpsc-grid .wpsc-column-5 .wpsc-old-price,
.wpsc-grid .wpsc-column-4 .wpsc-old-price,
.wpsc-grid .wpsc-column-3 .wpsc-old-price,
.wpsc-grid .wpsc-column-2 .wpsc-old-price {
	font-size: 0.85em;
}

.wpsc-grid .wpsc-column-6 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-6 .wpsc-sale,
.wpsc-grid .wpsc-column-6 .wpsc-product-price > .wpsc-amount,
.wpsc-grid .wpsc-column-5 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-5 .wpsc-sale,
.wpsc-grid .wpsc-column-5 .wpsc-product-price > .wpsc-amount,
.wpsc-grid .wpsc-column-4 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-4 .wpsc-sale,
.wpsc-grid .wpsc-column-4 .wpsc-product-price > .wpsc-amount,
.wpsc-grid .wpsc-column-3 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-3 .wpsc-sale,
.wpsc-grid .wpsc-column-3 .wpsc-product-price > .wpsc-amount,
.wpsc-grid .wpsc-column-2 .wpsc-sale-price .wpsc-amount,
.wpsc-grid .wpsc-column-2 .wpsc-sale,
.wpsc-grid .wpsc-column-2 .wpsc-product-price > .wpsc-amount {
	font-size: 1.25em;
}

.wpsc-single .wpsc-thumbnail-wrapper,
.wpsc-single .wpsc-product-summary,
.wpsc-list .wpsc-thumbnail-wrapper,
.wpsc-list .wpsc-product-summary {
	display: block;
	float: none;
	width: 100%;
}

.wpsc-controller .wpsc-shopping-cart .wpsc-form-actions {
	text-align: center;
}

.wpsc-form-actions {
	display: block;
	text-align: center;
}

.wpsc-begin-checkout,
.express-checkout-button {
	display: block;
	margin-left: 0;
}

.express-checkout-button {
	margin-bottom: 20px;
	border-bottom: none !important;
}

.express-checkout-button img {
	margin: 0 auto;
}

.wpsc-begin-checkout {
	margin-top: 20px;
}

.wpsc-cart-footer .wpsc-cart-actions-row {
	text-align: right;
	padding-bottom: 20px;
}

.wpsc-cart-footer .wpsc-cart-actions-row:after {
	text-align: right;
	display: block;
	width: 100%;
	height: 0;
}

.wpsc-cart-footer .update-quantity {
	display: inline-block;
}

.wpsc-cart-footer .apply-coupon {
	margin-bottom: 20px;
	text-align: right;
}

.wpsc-checkout fieldset {
	min-width: 100%;
	display: block;
}

.wpsc-checkout #wpsc-checkout-form-shipping {
	margin-left: 0;
}

.wpsc-controller .wpsc-create-account-offer,
.wpsc-controller .wpsc-login-form-wrapper {
	float: none;
	width: 100%;
}

.wpsc-cart-cell.product,
.wpsc-cart-cell-header.product,
.wpsc-cart-cell.contents,
.wpsc-cart-cell-header.content {
	width: 100%;
}

.wpsc-cart-cell.contents,
.wpsc-cart-cell-header.content {
	margin-top: 1em;
}

.wpsc-customer-account-digital-content .wpsc-cart-footer {
	display: none;
}

.wpsc-controller .wpsc-tabs > li {
	display: block;
}

.wpsc-controller .wpsc-tabs > .active > a {
	border: 0;
}

.wpsc-tab-item {
	padding: 5px 0;
}

.wpsc-cart-quantity-input {
	max-width: 50%;
}

}

@keyframes fluidboxLoading {

0% {
	transform: translate(-50%, -50%) rotateX(0) rotateY(0);
}

50% {
	transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0);
}

100% {
	transform: translate(-50%, -50%) rotateX(-180deg) rotateY(-180deg);
}

}

