/* Grid Styling on archive cart pages */
.post-type-archive-wpsc-cart .wpsc-cart-description {
  display: none; }
.post-type-archive-wpsc-cart .wpsc-page-main-store {
  margin-left: -2.5%; }
.post-type-archive-wpsc-cart .wpsc-cart {
  display: inline-block;
  padding: 10px;
  margin: 0 0 2.5% 2.5%; }
.post-type-archive-wpsc-cart .wpsc-cart-thumbnail {
  margin: 0 0 10px; }
  .post-type-archive-wpsc-cart .wpsc-cart-thumbnail img {
    max-width: 100%;
    height: auto; }

/* Cart */
.wpsc-table .wpsc-cart-table {
  width: 100%; }
.wpsc-table .wpsc-cart-item,
.wpsc-table .wpsc-row {
  display: block;
  padding: 20px 0;
  border-top: 1px solid #ccc; }
.wpsc-table .wpsc-cart-item:last-of-type {
  border-bottom: 1px solid #ccc; }
.wpsc-table .wpsc-cart-cell-header {
  font-size: 12px;
  font-weight: bold; }
.wpsc-table .wpsc-cart-cell, .wpsc-table .wpsc-cart-cell-header {
  display: inline-block;
  margin-right: 2.5%; }
.wpsc-table .wpsc-cart-cell:last-of-type, .wpsc-table .wpsc-cart-cell-header:last-of-type {
  margin-right: 0; }
.wpsc-table .wpsc-cart-cell-header.image,
.wpsc-table .wpsc-cart-cell.image {
  width: 20%; }
.wpsc-table .wpsc-cart-cell-header.items,
.wpsc-table .wpsc-cart-cell.items {
  width: 40%; }
.wpsc-table .wpsc-cart-cell-header.unit-price,
.wpsc-table .wpsc-cart-cell.unit-price {
  width: 10%; }
.wpsc-table .wpsc-cart-cell-header.quantity,
.wpsc-table .wpsc-cart-cell.quantity {
  width: 10%; }
.wpsc-table .wpsc-cart-cell-header.item-total,
.wpsc-table .wpsc-cart-cell.item-total {
  width: 10%; }
.wpsc-table .wpsc-cart-footer {
  margin-right: 0; }
  .wpsc-table .wpsc-cart-footer .wpsc-cart-cell,
  .wpsc-table .wpsc-cart-footer .wpsc-row {
    text-align: right;
    margin-right: 0; }
  .wpsc-table .wpsc-cart-footer .wpsc-row {
    border: 0; }

@media (max-width: 700px) {
  .wpsc-table .wpsc-cart-cell, .wpsc-table .wpsc-cart-cell-header {
    display: block; }
  .wpsc-table .wpsc-cart-header {
    display: none; }
  .wpsc-table .wpsc-cart-cell.image,
  .wpsc-table .wpsc-cart-cell.items,
  .wpsc-table .wpsc-cart-cell.unit-price,
  .wpsc-table .wpsc-cart-cell.quantity,
  .wpsc-table .wpsc-cart-cell.item-total {
    width: 100%; }
  .wpsc-table .wpsc-cart-cell.items:before,
  .wpsc-table .wpsc-cart-cell.unit-price:before,
  .wpsc-table .wpsc-cart-cell.quantity:before,
  .wpsc-table .wpsc-cart-cell.item-total:before {
    font-weight: 600; }
  .wpsc-table .wpsc-cart-cell.items:before {
    content: 'Product Description: '; }
  .wpsc-table .wpsc-cart-cell.unit-price:before {
    content: 'Unit Price: '; }
  .wpsc-table .wpsc-cart-cell.quantity:before {
    content: 'Quantity: '; }
  .wpsc-table .wpsc-cart-cell.item-total:before {
    content: 'Item Total: '; }
  .wpsc-table .wpsc-cart-quantity-input {
    width: 50%; } }
