.wpsc-controller {
	.wpsc-breadcrumb {
		list-style: none;
		margin:0 0 18px 0;
	}
	.wpsc-breadcrumb-item {
		font-weight: normal;
		display: inline-block;
		margin: 0;
	}
	.wpsc-breadcrumb-item a {
		text-decoration: none;
	}
	.wpsc-breadcrumb-divider {
		color: @font-color-subtle;
		padding: 0 5px;
	}
}