.wpsc-controller {
	.wpsc-category-filter {
		overflow: hidden;
	}

	.wpsc-category-filter ul {
		margin: 0 0 18px 0;
	}

	.wpsc-category-filter ul li {
		display: inline-block;
		margin: 0;
	}

	.wpsc-category-filter ul.wpsc-category-filter-drill-down {
		float: right;
	}

	.wpsc-category-filter ul.wpsc-category-filter-list {
		float: left;
	}
}