/* Form */
.wpsc-form {
  margin: 0;
  padding: 0;
}
.wpsc-form fieldset,
.wpsc-form legend {
  margin: 0;
  padding: 0;
}
.wpsc-form legend,
.wpsc-form label,
.wpsc-form input[type="text"],
.wpsc-form input[type="url"],
.wpsc-form input[type="number"],
.wpsc-form input[type="email"],
.wpsc-form input[type="search"],
.wpsc-form input[type="tel"],
.wpsc-form textarea,
.wpsc-form select {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.wpsc-form legend,
.wpsc-form label,
.wpsc-form select {
  color: #333333;
}
.wpsc-form label {
  margin-bottom: 5px;
  margin-top: 7px;
}
.wpsc-form input,
.wpsc-form select,
.wpsc-form textarea {
  margin: 0;
}
.wpsc-form input[type="text"],
.wpsc-form input[type="url"],
.wpsc-form input[type="number"],
.wpsc-form input[type="email"],
.wpsc-form input[type="search"],
.wpsc-form input[type="tel"],
.wpsc-form textarea,
.wpsc-form select[multiple="multiple"] {
  color: #666666;
  vertical-align: middle;
}
.wpsc-form legend {
  border-bottom: 1px solid #cccccc;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 18px;
  width: 100%;
}
.wpsc-form legend + * {
  /* Fix webkit bug where margin bottom does not apply to legend */

  -webkit-margin-top-collapse: separate;
  margin-top: 18px;
}
.wpsc-form .wpsc-field {
  margin-bottom: 18px;
}
.wpsc-form label,
.wpsc-form input[type="text"],
.wpsc-form input[type="url"],
.wpsc-form input[type="number"],
.wpsc-form input[type="email"],
.wpsc-form input[type="search"],
.wpsc-form input[type="tel"],
.wpsc-form input[type="file"],
.wpsc-form textarea,
.wpsc-form select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.wpsc-form input[type="text"],
.wpsc-form input[type="url"],
.wpsc-form input[type="number"],
.wpsc-form input[type="email"],
.wpsc-form input[type="search"],
.wpsc-form input[type="tel"],
.wpsc-form textarea,
.wpsc-form select[multiple="multiple"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-transition: border linear 0.1s, box-shadow linear 0.1s;
  -moz-transition: border linear 0.1s, box-shadow linear 0.1s;
  transition: border linear 0.1s, box-shadow linear 0.1s;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 6px 6px 4px;
  width: 240px;
}
.wpsc-form input[type="text"][disabled="disabled"],
.wpsc-form input[type="url"][disabled="disabled"],
.wpsc-form input[type="number"][disabled="disabled"],
.wpsc-form input[type="email"][disabled="disabled"],
.wpsc-form input[type="search"][disabled="disabled"],
.wpsc-form input[type="tel"][disabled="disabled"],
.wpsc-form textarea[disabled="disabled"],
.wpsc-form select[multiple="multiple"][disabled="disabled"],
.wpsc-form input[type="text"].disabled,
.wpsc-form input[type="url"].disabled,
.wpsc-form input[type="number"].disabled,
.wpsc-form input[type="email"].disabled,
.wpsc-form input[type="search"].disabled,
.wpsc-form input[type="tel"].disabled,
.wpsc-form textarea.disabled,
.wpsc-form select[multiple="multiple"].disabled {
  background-color: #ececec;
  color: #999999;
}
.wpsc-form input[type="text"]:focus,
.wpsc-form input[type="url"]:focus,
.wpsc-form input[type="number"]:focus,
.wpsc-form input[type="email"]:focus,
.wpsc-form input[type="search"]:focus,
.wpsc-form input[type="tel"]:focus,
.wpsc-form textarea:focus,
.wpsc-form select[multiple="multiple"]:focus {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 5px #00a7ff;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 5px #00a7ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 0 5px #00a7ff;
  border-color: #00a7ff;
}
.wpsc-form input[type="radio"]:focus,
.wpsc-form input[type="checkbox"]:focus,
.wpsc-form input[type="file"]:focus,
.wpsc-form select:not([multiple="multiple"]):focus {
  outline: 1px dotted #00a7ff;
  outline: 3px auto -webkit-focus-ring-color;
  outline-offset: -1px;
}
.wpsc-form-horizontal .wpsc-field {
  clear: both;
}
.wpsc-form-horizontal .wpsc-field > label {
  display: block;
  float: left;
  text-align: right;
  width: 90px;
}
.wpsc-form-horizontal .wpsc-field .wpsc-controls {
  margin-left: 108px;
}
.wpsc-form-horizontal .wpsc-form-actions {
  padding-left: 108px;
}
.wpsc-help {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: italic;
  font-weight: normal;
  color: #666666;
  line-height: 18px;
  margin-bottom: 0;
}
.wpsc-checkbox-label,
.wpsc-radio-label {
  display: block;
}
.wpsc-checkbox-label.disabled,
.wpsc-radio-label.disabled {
  color: #999999;
}
.wpsc-form-actions {
  border-top: 1px solid #cccccc;
  padding-top: 18px;
  margin-bottom: 18px;
}
.wpsc-label {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #999999;
  color: #ffffff;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  padding: 0 6px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.17);
  vertical-align: middle;
  white-space: nowrap;
}
.wpsc-label :hover {
  background-color: #666666;
}
.wpsc-label-success {
  background-color: #2fac37;
}
.wpsc-label-success :hover {
  background-color: #1e7c24;
}
.wpsc-label-warning {
  background-color: #f68b17;
}
.wpsc-label-warning :hover {
  background-color: #d1710a;
}
.wpsc-label-important {
  background-color: #c23e3e;
}
.wpsc-label-important :hover {
  background-color: #a91f1f;
}
.wpsc-label-info {
  background-color: #20adab;
}
.wpsc-label-info :hover {
  background-color: #199290;
}
.wpsc-label-inverse {
  background-color: #333333;
}
.wpsc-label-inverse :hover {
  background-color: #000000;
}
.wpsc-pagination {
  margin: 0;
  overflow: hidden;
}
.wpsc-pagination-count {
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
.wpsc-pagination-links {
  float: right;
}
.wpsc-pagination-links .page-numbers {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: transparent;
  display: inline-block;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  padding: 3px 5px;
}
.wpsc-pagination-links a {
  color: #006cff;
  text-decoration: none;
}
.wpsc-pagination-links a:hover {
  border-bottom-color: #006cff;
  color: #006cff;
  text-decoration: none;
}
.wpsc-pagination-links .dots {
  color: #bbbbbb;
}
.wpsc-pagination-links .current {
  border-bottom-color: #333333;
  color: #333333;
  cursor: default;
}
.wpsc-thumbnail img {
  display: inline-block;
  padding: 4px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.wpsc-thumbnail:hover img {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.wpsc-button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: box-shadow linear 0.1s;
  -moz-transition: box-shadow linear 0.1s;
  transition: box-shadow linear 0.1s;
  border: 1px solid #999999;
  background-color: #999999;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #f6f6f6 35%, #dfdfdf 100%);
  background-image: -moz-linear-gradient(top, #f6f6f6 35%, #dfdfdf 100%);
  background-image: -ms-linear-gradient(top, #f6f6f6 35%, #dfdfdf 100%);
  background-image: -o-linear-gradient(top, #f6f6f6 35%, #dfdfdf 100%);
  background-image: linear-gradient(top, #f6f6f6 35%, #dfdfdf 100%);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 18px;
  margin: 0;
  padding: 5px 13px;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
}
.wpsc-button:hover,
.wpsc-button:active,
.wpsc-button:focus {
  text-decoration: none;
}
.wpsc-button:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
  background-image: -moz-linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
  background-image: -ms-linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
  background-image: -o-linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
  background-image: linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
}
.wpsc-button:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.20);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.20);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
  background-image: -moz-linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
  background-image: -ms-linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
  background-image: -o-linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
  background-image: linear-gradient(top, #e3e3e3 35%, #f6f6f6 100%);
}
.wpsc-button:focus {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 5px 1px #00a7ff;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 5px 1px #00a7ff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 5px 1px #00a7ff;
}
.wpsc-button-success {
  border-color: #2fac37;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.19) 0 -1px 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #50c556 25%, #4fa74f 100%);
  background-image: -moz-linear-gradient(top, #50c556 25%, #4fa74f 100%);
  background-image: -ms-linear-gradient(top, #50c556 25%, #4fa74f 100%);
  background-image: -o-linear-gradient(top, #50c556 25%, #4fa74f 100%);
  background-image: linear-gradient(top, #50c556 25%, #4fa74f 100%);
}
.wpsc-button-success:hover {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #56b759 35%, #5cc862 100%);
  background-image: -moz-linear-gradient(top, #56b759 35%, #5cc862 100%);
  background-image: -ms-linear-gradient(top, #56b759 35%, #5cc862 100%);
  background-image: -o-linear-gradient(top, #56b759 35%, #5cc862 100%);
  background-image: linear-gradient(top, #56b759 35%, #5cc862 100%);
}
.wpsc-button-success:active {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #56b759 35%, #5cc862 100%);
  background-image: -moz-linear-gradient(top, #56b759 35%, #5cc862 100%);
  background-image: -ms-linear-gradient(top, #56b759 35%, #5cc862 100%);
  background-image: -o-linear-gradient(top, #56b759 35%, #5cc862 100%);
  background-image: linear-gradient(top, #56b759 35%, #5cc862 100%);
}
.wpsc-button-warning {
  border-color: #f68b17;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.19) 0 -1px 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #ffa84a 5%, #ea9131 100%);
  background-image: -moz-linear-gradient(top, #ffa84a 5%, #ea9131 100%);
  background-image: -ms-linear-gradient(top, #ffa84a 5%, #ea9131 100%);
  background-image: -o-linear-gradient(top, #ffa84a 5%, #ea9131 100%);
  background-image: linear-gradient(top, #ffa84a 5%, #ea9131 100%);
}
.wpsc-button-warning:hover {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #ed9434 8%, #fea748 100%);
  background-image: -moz-linear-gradient(top, #ed9434 8%, #fea748 100%);
  background-image: -ms-linear-gradient(top, #ed9434 8%, #fea748 100%);
  background-image: -o-linear-gradient(top, #ed9434 8%, #fea748 100%);
  background-image: linear-gradient(top, #ed9434 8%, #fea748 100%);
}
.wpsc-button-warning:active {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #ed9434 8%, #fea748 100%);
  background-image: -moz-linear-gradient(top, #ed9434 8%, #fea748 100%);
  background-image: -ms-linear-gradient(top, #ed9434 8%, #fea748 100%);
  background-image: -o-linear-gradient(top, #ed9434 8%, #fea748 100%);
  background-image: linear-gradient(top, #ed9434 8%, #fea748 100%);
}
.wpsc-button-important {
  border-color: #c23e3e;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.19) 0 -1px 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #ea5d5d 18%, #d83b3b 100%);
  background-image: -moz-linear-gradient(top, #ea5d5d 18%, #d83b3b 100%);
  background-image: -ms-linear-gradient(top, #ea5d5d 18%, #d83b3b 100%);
  background-image: -o-linear-gradient(top, #ea5d5d 18%, #d83b3b 100%);
  background-image: linear-gradient(top, #ea5d5d 18%, #d83b3b 100%);
}
.wpsc-button-important:hover {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #db4444 18%, #ec6f6f 100%);
  background-image: -moz-linear-gradient(top, #db4444 18%, #ec6f6f 100%);
  background-image: -ms-linear-gradient(top, #db4444 18%, #ec6f6f 100%);
  background-image: -o-linear-gradient(top, #db4444 18%, #ec6f6f 100%);
  background-image: linear-gradient(top, #db4444 18%, #ec6f6f 100%);
}
.wpsc-button-important:active {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #db4444 18%, #ec6f6f 100%);
  background-image: -moz-linear-gradient(top, #db4444 18%, #ec6f6f 100%);
  background-image: -ms-linear-gradient(top, #db4444 18%, #ec6f6f 100%);
  background-image: -o-linear-gradient(top, #db4444 18%, #ec6f6f 100%);
  background-image: linear-gradient(top, #db4444 18%, #ec6f6f 100%);
}
.wpsc-button-info {
  border-color: #20adab;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.19) 0 -1px 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #30c7c5 18%, #20adab 100%);
  background-image: -moz-linear-gradient(top, #30c7c5 18%, #20adab 100%);
  background-image: -ms-linear-gradient(top, #30c7c5 18%, #20adab 100%);
  background-image: -o-linear-gradient(top, #30c7c5 18%, #20adab 100%);
  background-image: linear-gradient(top, #30c7c5 18%, #20adab 100%);
}
.wpsc-button-info:hover {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #21afae 18%, #30c7c5 100%);
  background-image: -moz-linear-gradient(top, #21afae 18%, #30c7c5 100%);
  background-image: -ms-linear-gradient(top, #21afae 18%, #30c7c5 100%);
  background-image: -o-linear-gradient(top, #21afae 18%, #30c7c5 100%);
  background-image: linear-gradient(top, #21afae 18%, #30c7c5 100%);
}
.wpsc-button-info:active {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #21afae 18%, #30c7c5 100%);
  background-image: -moz-linear-gradient(top, #21afae 18%, #30c7c5 100%);
  background-image: -ms-linear-gradient(top, #21afae 18%, #30c7c5 100%);
  background-image: -o-linear-gradient(top, #21afae 18%, #30c7c5 100%);
  background-image: linear-gradient(top, #21afae 18%, #30c7c5 100%);
}
.wpsc-button-inverse {
  border-color: #333333;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.19) 0 -1px 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #666666 18%, #444444 100%);
  background-image: -moz-linear-gradient(top, #666666 18%, #444444 100%);
  background-image: -ms-linear-gradient(top, #666666 18%, #444444 100%);
  background-image: -o-linear-gradient(top, #666666 18%, #444444 100%);
  background-image: linear-gradient(top, #666666 18%, #444444 100%);
}
.wpsc-button-inverse:hover {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #4d4d4d 18%, #666666 100%);
  background-image: -moz-linear-gradient(top, #4d4d4d 18%, #666666 100%);
  background-image: -ms-linear-gradient(top, #4d4d4d 18%, #666666 100%);
  background-image: -o-linear-gradient(top, #4d4d4d 18%, #666666 100%);
  background-image: linear-gradient(top, #4d4d4d 18%, #666666 100%);
}
.wpsc-button-inverse:active {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #4d4d4d 18%, #666666 100%);
  background-image: -moz-linear-gradient(top, #4d4d4d 18%, #666666 100%);
  background-image: -ms-linear-gradient(top, #4d4d4d 18%, #666666 100%);
  background-image: -o-linear-gradient(top, #4d4d4d 18%, #666666 100%);
  background-image: linear-gradient(top, #4d4d4d 18%, #666666 100%);
}
.wpsc-button-primary {
  border-color: #1c4d93;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.19) 0 -1px 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #0088cc 23%, #1e5db2 100%);
  background-image: -moz-linear-gradient(top, #0088cc 23%, #1e5db2 100%);
  background-image: -ms-linear-gradient(top, #0088cc 23%, #1e5db2 100%);
  background-image: -o-linear-gradient(top, #0088cc 23%, #1e5db2 100%);
  background-image: linear-gradient(top, #0088cc 23%, #1e5db2 100%);
}
.wpsc-button-primary:hover {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #1071be 23%, #0088cc 100%);
  background-image: -moz-linear-gradient(top, #1071be 23%, #0088cc 100%);
  background-image: -ms-linear-gradient(top, #1071be 23%, #0088cc 100%);
  background-image: -o-linear-gradient(top, #1071be 23%, #0088cc 100%);
  background-image: linear-gradient(top, #1071be 23%, #0088cc 100%);
}
.wpsc-button-primary:active {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
  background-image: -webkit-linear-gradient(top, #1071be 23%, #0088cc 100%);
  background-image: -moz-linear-gradient(top, #1071be 23%, #0088cc 100%);
  background-image: -ms-linear-gradient(top, #1071be 23%, #0088cc 100%);
  background-image: -o-linear-gradient(top, #1071be 23%, #0088cc 100%);
  background-image: linear-gradient(top, #1071be 23%, #0088cc 100%);
}
.wpsc-button-small {
  padding: 3px 7px;
}
.wpsc-button-mini {
  font-size: 11px;
  line-height: 18px;
  padding: 0px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
table.wpsc-table {
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 18px;
  width: 100%;
}
table.wpsc-table th,
table.wpsc-table td {
  border-top: 1px solid #dedede;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  padding: 6px 10px;
  text-transform: none;
}
table.wpsc-table thead th {
  font-weight: bold;
}
table.wpsc-table thead:first-child tr:first-child th,
table.wpsc-table thead:first-child tr:first-child td {
  border-top: none;
}
table.wpsc-table tbody tr:hover td,
table.wpsc-table tbody tr:hover th {
  background-color: #f3f3f3;
}
.wpsc-alert {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 18px;
  padding: 10px 12px 12px;
  width: 100%;
}
.wpsc-alert p {
  margin: 0;
}
.wpsc-alert p + p {
  margin-top: 12px;
}
.wpsc-alert,
.wpsc-alert p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-shadow: rgba(255, 255, 255, 0.6) 0 1px 0;
}
.wpsc-alert-success {
  border-color: #5cc862;
  color: #117f17;
  background-color: #ceffd1;
}
.wpsc-alert-warning {
  border-color: #ed9434;
  color: #c47725;
  background-color: #ffe7cd;
}
.wpsc-alert-error {
  border-color: #ec6f6f;
  color: #b32d2d;
  background-color: #ffd1d1;
}
.wpsc-alert-info {
  border-color: #0088cc;
  color: #0778b1;
  background-color: #b6e7ff;
}
.wpsc-product-title {
  color: #333333;
  font-size: 24px;
  line-height: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  margin: 0;
}
.wpsc-product-title a,
.wpsc-product-title a:hover,
.wpsc-product-title a:active,
.wpsc-product-title a:focus {
  color: #333333;
  font-size: 24px;
  line-height: 36px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  margin: 0;
}
.wpsc-product-title a:hover {
  text-decoration: underline;
}
.wpsc-product-price {
  font-weight: bold;
}
.wpsc-product-price ins,
.wpsc-product-price del {
  background-color: #ffffff;
}
.wpsc-product-price del {
  font-size: 11px;
  font-weight: normal;
  text-decoration: line-through;
}
.wpsc-product-price ins {
  color: #c23e3e;
  margin-right: 5px;
}
.wpsc-product {
  overflow: hidden;
}
.wpsc-thumbnail-wrapper {
  float: left;
}
.wpsc-product-summary {
  float: right;
  min-width: 400px;
  width: 65%;
}
.wpsc-product-header,
.wpsc-product-description p,
.wpsc-product-price {
  margin-bottom: 18px;
}
.wpsc-product-variations label {
  display: inline-block;
  min-width: 50px;
}
/* Add to cart form */
.wpsc-add-to-cart-form {
  padding-top: 19px;
  margin-bottom: 20px;
  border-top: 1px solid #eee;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.wpsc-add-to-cart-form .wpsc-control-label {
  width: auto;
  min-width: 70px;
}
.wpsc-add-to-cart-form .wpsc-controls {
  margin-left: 90px;
}
.wpsc-add-to-cart-form .wpsc-form-actions {
  background-color: transparent;
  border-top: none;
  padding-left: 90px;
  padding-top: 0;
}
.wpsc-add-to-cart-form input[type="text"],
.wpsc-add-to-cart-form input[type="url"],
.wpsc-add-to-cart-form input[type="number"],
.wpsc-add-to-cart-form input[type="email"],
.wpsc-add-to-cart-form input[type="search"],
.wpsc-add-to-cart-form input[type="tel"] {
  width: 30px;
}
.wpsc-add-to-cart-form .wpsc-add-to-cart-form select {
  width: 120px;
}
/* Cart item table */
table.wpsc-cart-item-table {
  border-bottom: none;
}
table.wpsc-cart-item-table td .wpsc-cart-quantity-input {
  text-align: right;
  width: 60px;
}
table.wpsc-cart-item-table .item-total,
table.wpsc-cart-item-table .unit-price,
table.wpsc-cart-item-table .quantity {
  text-align: right;
  width: 80px;
}
table.wpsc-cart-item-table .wpsc-thumbnail {
  float: left;
}
.wpsc-cart-item-description {
  margin-left: 84px;
}
.wpsc-cart-item-title,
.wpsc-cart-item-title a {
  font-size: 13px;
  line-height: 18px;
}
.wpsc-cart-item-details {
  color: #666666;
  font-style: italic;
  font-size: 11px;
  line-height: 18px;
}
.wpsc-cart-item-row-actions {
  line-height: 24px;
}
.wpsc-cart-subtotal-row th,
.wpsc-cart-subtotal-row td,
.wpsc-cart-item-table .wpsc-cart-item-table-actions td {
  text-align: right;
}
.wpsc-cart-update {
  margin-left: 10px;
}
.wpsc-shopping-cart .wpsc-form-actions {
  border: none;
  text-align: right;
}
.wpsc-shopping-cart .wpsc-form-actionstop {
  margin-bottom: 48px;
}
