.wpsc-form-radio-wrapper, .wpsc-form-checkbox-wrapper {
	display: block;
	margin-bottom: 5px;
}

/* Settings->Store->Pages */
#wpsc-settings-form .button-view-page {
	margin-left: 5px;
}

input[id$="-slug"].regular-text {
	width: auto;
}

/* Settings->Store->Presentation */
#options_presentation {
	margin-right: 0;
}

.wpsc-settings-category-filter-custom-select-all,
.wpsc-settings-category-filter-custom-deselect-all {
	margin: 0 0 0 5px;
}

.wpsc-settings-all-none {
	display:block;
	font-size: 0.8em;
	margin-bottom:5px;
}

#wpbody #categories-to-filter-custom-select {
	width: 200px;
	height: 120px;
}

.select2-container,
.select2-container .select2-search__field,
.select2-container .select2-search--inline {
	width:100% !important;
}

.select2-container {
	padding:0;
}

.select2-container input[type=search] {
	-webkit-box-shadow: 0 0 0 transparent;
	box-shadow:0 0 0 transparent;
}

.wpsc-settings-category-filter-custom .select2-container {
	max-width:400px;
}

/* Appearance -> Widgets -> Category Drill Down */
[id*=wpsc_widget_drill_down] {
	overflow: visible !important;
}

[id*=wpsc_widget_drill_down] .default {
	width: 100% !important;
}

#options_presentation .form-table td div.error p {
	margin: .5em 0;
	padding: 2px;
}
