.wpsc-more-link {
	margin-top:-1.625em;
}

.wpsc-product {
	overflow:hidden;
}

.single-wpsc-product .wpsc-product {
	margin:0 auto 1.625em;
	width:68.9%;
}

.wpsc-product-summary {
	float:right;
	min-width:400px;
	width:65%;
}

.wpsc-product-summary .wpsc-product-header, .wpsc-product-summary .wpsc-product-description-wrapper, .wpsc-product-summary footer.entry-meta {
	width:100%;
}

.wpsc-product-summary footer.entry-meta .edit-link a {
	position:static;
}

.wpsc-product .wpsc-thumbnail {
	float:left;
}

.wpsc-product hgroup .wpsc-product-title {
	padding-top:0;
}

.wpsc-thumbnail {
	position:relative;
}

.wpsc-thumbnail p.wpsc-sale-overlay {
	background-color:rgba(255,0,0,0.6);
	color:#fff;
	display:inline-block;
	font-size:10px;
	font-weight:bold;
	letter-spacing:0.25em;
	padding:5px;
	position:absolute;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	text-transform:uppercase;
	top:0;
	right:0;
}

.wpsc-product .wpsc-product-variations p {
	margin-bottom:0;
}

.wpsc-product .wpsc-product-add-to-cart-form {
	margin-bottom:1.625em;
}

.wpsc-product .wpsc-product-add-to-cart-form label {
	display:inline-block;
	min-width:70px;
}

.wpsc-product .wpsc-product-add-to-cart-form select {
	display:inline-block;
	min-width:100px;
}

.wpsc-product .wpsc-product-add-to-cart-quantity {
	font-size:12px;
	text-align:center;
	width:30px;
}

.wpsc-product-price {
	font-size:18px;
	font-weight:bold;
	margin-top:-0.3em;
}

.wpsc-product-price ins, .wpsc-product-price del {
	margin-right:5px;
}

.wpsc-product-price del {
	font-size:0.7em;
}

.wpsc-product-price ins {
	background:transparent;
	color:red;
}

.wpsc-product-add-to-cart-form {
	overflow:visible;
	position:relative;
}

.wpsc-product-add-to-cart-form-fields {
	width:50%;
}

.wpsc-product-add-to-cart-actions {
	bottom:0;
	margin-bottom:0;
	position:absolute;
	right:0;
	text-align:right;
	width:50%;
}

.wpsc-product-add-to-cart-button {
	background-color:#1982d1;
	background-image:url('../images/plus.png');
	border-position:left top;
	background-repeat:no-repeat;
	border:3px double #fff;
	color:#fff;
	cursor:pointer;
	font-size:11px;
	font-weight:bold;
	line-height:30px;
	padding:0 10px 0 40px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	text-transform:uppercase;

	transition:background-color linear 0.15s;
	-webkit-transition:background-color linear 0.15s;
	-moz-transition:background-color linear 0.15s;
	-o-transition:background-color linear 0.15s;
}

.wpsc-product-add-to-cart-button:hover {
	background-color:#006aba;
}

.wpsc-pagination {
	overflow:hidden;
}

.wpsc-pagination-count {
	float:left;
	font-size:12px;
	margin-top:5px;
}

#content nav.wpsc-pagination-links {
	float:right;
	clear:none;
}

#content nav.wpsc-pagination-links .page-numbers {
	font-size:10px;
	font-weight:normal;
	padding:5px 8px;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}

#content nav.wpsc-pagination-links a.page-numbers {
	background:#eee;
	color:#666;
}
#content nav.wpsc-pagination-links a.page-numbers:hover {
	background:#888;
	color:#fff;
	text-decoration:none;
}

nav.wpsc-pagination-links span.current {
	background:#f2f2f2;
	color:#bbb;
	/* opacity:0.75; */
}

#content nav.wpsc-breadcrumb .wpsc-breadcrumb-item {
	font-size:11px;
}