/*******************
Checkout
********************/
.wpsc-field-textfield input {
	width: 100%;
}

#wpsc-checkout-form-shipping {
    margin-left: 5%;
}

.wpsc-field-wpsc_shipping_option{
	text-align: left;
}
.wpsc-shipping-method {
	@extend .wpsc-field-wpsc_shipping_option;
}
.wpsc-payment-method {
	@extend .wpsc-field-wpsc_shipping_option;
}
.wpsc-checkout-form {
	@include flexbox();
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	.wpsc-form-actions {
	    @extend .wpsc-field-wpsc_shipping_option;
	    width: 100%;
	}
	fieldset{
		margin: 0 0 2em 0;
	    vertical-align: top;
	    @include align-self(flex-start);
	    @include flex-grow(1);
	    @include flex-basis(3%);
	}
}
.wpsc-order-preview {
    margin-bottom: 1.5em;
}
.wpsc-cart-quantity-input {
	width: 40px;
}
.wpsc-form-radio-wrapper img {
	vertical-align: middle;
}

.wpsc-paypal li {
	list-style-type: none;
}
