/*******************
JS Float Label
********************/
.wpsc-controller {
	.wpsc-field {
	position: relative;
		input, textarea {
			padding: 1em;
			width: 100%;
		}
	}

	.wpsc-field label {
		position: absolute;
		top: 1em; left: 1em;
		opacity: 0;
	}

	.wpsc-field.focused label,
	.wpsc-field.populated label {
		opacity: 1;
		top: 0;
	    left: 1em;
	    font-size: $sml-size-col-5;
	    font-weight: $bold;
	}

	.wpsc-field.focused input,
	.wpsc-field.populated input,
	.wpsc-field.focused textarea,
	.wpsc-field.populated textarea {
		padding-top: 1.5em;
		padding-bottom: .5em;
	}

	.wpsc-field input,
	.wpsc-field textarea,
	.wpsc-field label {
		-webkit-transition: 0.2s ease-in-out;
		-moz-transition: 0.2s ease-in-out;
		-ms-transition: 0.2s ease-in-out;
		-o-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}
}
