/*****************
Media Queries
*****************/

@media (max-width: 960px) {
	.wpsc-grid {
		.wpsc-column-6,
		.wpsc-column-5 {
			width: $columns-4;
			.wpsc-product-title {
				font-size: $title-size-col-4;
			}
			.wpsc-old-price {
				font-size: $sml-size-col-4;
			}
			@include price($price-size-col-4);
		}
	}
}

@media (max-width: 700px) {
	.wpsc-grid {
		.wpsc-column-6,
		.wpsc-column-5,
		.wpsc-column-4 {
			width: $columns-3;
			.wpsc-product-title {
				font-size: $title-size-col-3;
			}
			.wpsc-old-price {
				font-size: $sml-size-col-3;
			}
			@include price($price-size-col-3);
		}
	}

	$classes: id date status tracking-id total;

	@each $class in $classes {
		.wpsc-cart-cell.#{$class} {
	    	width: 100%;
		}
	}

	$titles: id date status tracking-id total;
	@each $title in $titles {
		.wpsc-cart-cell.#{$title}:before {
			font-weight: $bold;
			content: attr(data-title);
		}
	}

	.wpsc-customer-account-index {
		.wpsc-cart-footer,
		.wpsc-cart-header {
			display: none;
		}
	}
}

@media (max-width: 550px) {
	@import 'mobile-and-sidebar';

	.wpsc-grid {
		.wpsc-column-6,
		.wpsc-column-5,
		.wpsc-column-4,
		.wpsc-column-3,
		.wpsc-column-2 {
			width: $full-width;
			.wpsc-product-title {
				font-size: $title-size-col-2;
			}
			.wpsc-old-price {
				font-size: $sml-size-col-2;
			}
			@include price($price-size-col-2);
		}
	}
	.wpsc-single,
	.wpsc-list {
		.wpsc-thumbnail-wrapper,
		.wpsc-product-summary {
			display: block;
			float: none;
			width: $full-width;
		}
	}
	.wpsc-controller .wpsc-shopping-cart .wpsc-form-actions {
		text-align: center;
	}
	.wpsc-form-actions {
		display: block;
		text-align: center;
	}
	.wpsc-begin-checkout,
	.express-checkout-button {
		display: block;
		margin-left: 0;
	}
	.express-checkout-button {
		margin-bottom: 20px;
		border-bottom: none !important;
		img {
			margin: 0 auto;
		}
	}
	.wpsc-begin-checkout {
		margin-top: 20px;
	}
	.wpsc-cart-footer {
		.wpsc-cart-actions-row {
			text-align: right;
			padding-bottom: 20px;
		}
		.wpsc-cart-actions-row:after {
			text-align: right;
			display: block;
		    width: 100%;
		    height: 0;
		}
		.update-quantity {
			display: inline-block;
		}
		.apply-coupon {
			margin-bottom: 20px;
			text-align: right;
		}
	}
	.wpsc-checkout {
		fieldset {
			min-width: 100%;
		    display: block;
		}
		#wpsc-checkout-form-shipping {
		    margin-left: 0;
		}
	}

	.wpsc-controller .wpsc-create-account-offer,
	.wpsc-controller .wpsc-login-form-wrapper  {
		float: none;

		width: 100%;
	}
	.wpsc-cart-cell.product,
	.wpsc-cart-cell.contents {
		width: 100%;
	}

	.wpsc-cart-cell.contents {
		margin-top: 1em;
	}

	.wpsc-customer-account-digital-content .wpsc-cart-footer {
		display: none;
	}

	.wpsc-controller .wpsc-tabs > li {
		display: block;
	}

	.wpsc-controller .wpsc-tabs > .active > a {
		border: 0;
	}

	.wpsc-tab-item {
		padding: 5px 0;
	}
	.wpsc-cart-quantity-input {
		max-width: 50%;
	}
}
