/*****************
Media Queries
*****************/

@media (max-width: 960px) {
	.wpsc-column-6,
	.wpsc-column-5 {
		width: $columns-4;
	}
}

@media (max-width: 700px) {
	@import 'mobile-and-sidebar';
	.wpsc-column-6,
	.wpsc-column-5,
	.wpsc-column-4 {
		width: $columns-3;
	}
	.wpsc-list {
		.wpsc-page-main-store .wpsc-thumbnail-wrapper,
		.wpsc-page-main-store .wpsc-product-summary {
			display: block;
			float: none;
			width: 100%;
		}
		
	}
}

@media (max-width: 550px) {
	.wpsc-column-6,
	.wpsc-column-5,
	.wpsc-column-4,
	.wpsc-column-3,
	.wpsc-column-2 {
		width: $full-width;
	}
}