/*****************
Media Queries
*****************/

@media (max-width: 960px) {
	.wpsc-grid {
		.wpsc-column-6,
		.wpsc-column-5 {
			width: $columns-4;
		}
	}
}

@media (max-width: 700px) {
	.wpsc-grid {	
		.wpsc-column-6,
		.wpsc-column-5,
		.wpsc-column-4 {
			width: $columns-3;
		}
	}
}

@media (max-width: 550px) {
	@import 'mobile-and-sidebar';
	.wpsc-grid {
		.wpsc-column-6,
		.wpsc-column-5,
		.wpsc-column-4,
		.wpsc-column-3,
		.wpsc-column-2 {
			width: $full-width;
		}
	}
	.wpsc-single,
	.wpsc-list {
		.wpsc-thumbnail-wrapper,
		.wpsc-product-summary {
			display: block;
			float: none;
			width: $full-width;
		}	
	}
	.top {
		.wpsc-begin-checkout,
		.express-checkout-button {
			display: block;
			text-align: left;
			margin-left: 0;
		}	
		.express-checkout-button {
			margin-bottom: 20px;
		}
	}
	.wpsc-cart-footer {
		.wpsc-cart-actions-row {
			text-align: right;
			padding-bottom: 20px;
		}
		.wpsc-cart-actions-row:after {
			text-align: right;
			display: block;
		    width: 100%;
		    height: 0;
		}
		.update-quantity {
			display: inline-block;
		}
		.wpsc-cart-aggregate{
			text-align: left;
		}
		.apply-coupon {
			margin-bottom: 20px;
			text-align: right;
		}
		.wpsc-cart-cell,
		.wpsc-row {
			text-align: left;
		}
	}
	.wpsc-checkout {
		.entry-content {
			fieldset{
				min-width: 100%;
			    display: block;
			}
			#wpsc-checkout-form-shipping {
			    margin-left: 0;
			}
		}
	}
}