/* Mobile and Sidebar Table Styling */
.wpsc-cart-cell, .wpsc-cart-cell-header {
  	display: block;
}

.wpsc-cart-header {
	display: none;
}


$classes: image items unit-price quantity item-total id date status tracking-id total;

@each $class in $classes {
	.wpsc-cart-cell.#{$class} {
    	width: 100%;
	}
}

$titles: unit-price quantity item-total id date status tracking-id total;
@each $title in $titles {
	.wpsc-cart-cell.#{$title}:before {
		font-weight: $bold;
		content: attr(data-title);
	}
}
.wpsc-cart-quantity-input {
	width: 25%;
}