/* Mobile and Sidebar Table Styling */
.wpsc-cart-cell, .wpsc-cart-cell-header {
  	display: block;
}

.wpsc-cart-header {
	display: none;
}


$classes: image items unit-price quantity item-total id date status tracking-id total;

@each $class in $classes {
	.wpsc-cart-cell.#{$class} {
    	width: 100%;
	}
}

$titles: unit-price quantity item-total id date status tracking-id total;
@each $title in $titles {
	.wpsc-cart-cell.#{$title}:before {
		font-weight: $bold;
		content: attr(data-title);
	}
}
.wpsc-cart-quantity-input {
	width: 25%;
}

//Shopping Cart Widget
.wpsc-cart-item-title {
    font-size: $title-size-col-5;
    //Have title break where we want instead of hypenating words
    hyphens: initial;
    word-wrap: normal;
}

.wpsc-cart-item:first-of-type {
    border-top: none;
}

.wpsc-form-actions.bottom {
    padding-top: 20px;
}

.wpsc-cart-cell.update-quantity {
    text-align: center;
}

.wpsc-cart-update {
    float: none;
}

.wpsc-clear-cart {
    display: block;
    text-align: center;
}

.wpsc-cart-footer {
	.wpsc-cart-cell-header,
	.wpsc-cart-cell {
		display: inline-block;
	}

	.wpsc-cart-cell-header {
		float: left;
		text-align: left;
	}

	.wpsc-cart-cell {
		text-align: right;
	}
}

// .wpsc-cart-subtotal-row {
// 	.wpsc-cart-cell, 
// 	.wpsc-cart-cell-header {
// 		text-align: center;
// 	}

// 	.wpsc-cart-cell {
// 		font-size: $title-size-col-3;
// 	}
// }

.wpsc-form-actions button {
 	margin-left: auto;
 	margin-right: auto;
}

[class*="widget_wpsc_"] {
	ul {
		margin-left: 0;
	}

	li {
		list-style-type: none;
	}
}

//All WPSC Widgets
.wpsc-widget-latest-product-list-item {
    margin-bottom: 1.5em;
    a {
		font-size: $title-size-col-5;
    }
}

//On Sale Widget
.widget_wpsc_widget_on_sale {
	.wpsc-widget-latest-product-list-item {
	    .wpsc-product-price {
		    @include flexbox();
		    @include flex-wrap(wrap);
		    @include justify-content(space-between);
		}

		.wpsc-sale-price {
		    font-weight: $bold;
		}

		.wpsc-you-save {
		    width: 100%;
		    font-size: $price-size-col-6;
		}
	}
}