/* Mobile and Sidebar Cart Styling */

.wpsc-cart-cell, .wpsc-cart-cell-header {
  	display: block;
}
.wpsc-cart-header {
	display: none;
}
.wpsc-cart-cell.image,
.wpsc-cart-cell.items,
.wpsc-cart-cell.unit-price,
.wpsc-cart-cell.quantity,
.wpsc-cart-cell.item-total {
	width: 100%;
}
.wpsc-cart-cell.items:before,
.wpsc-cart-cell.unit-price:before,
.wpsc-cart-cell.quantity:before,
.wpsc-cart-cell.item-total:before {
	font-weight: $bold;
}
.wpsc-cart-cell.items:before {
	content: 'Product Description: ';
}
.wpsc-cart-cell.unit-price:before {
	content: 'Unit Price: ';
}
.wpsc-cart-cell.quantity:before {
	content: 'Quantity: ';
}
.wpsc-cart-cell.item-total:before {
	content: 'Item Total: ';
}
.wpsc-cart-quantity-input {
	width: 50%;
}