/*****************
Product List
*****************/
.wpsc-thumbnail-wrapper {
    display: inline-block;
}

.wpsc-product-summary {
    display: inline-block;
    float: right;
}

.wpsc-add-to-cart-form {
	@include flexbox();
	@include justify-content(flex-start);
	@include flex-wrap(wrap);
	@include align-items(center);

	.wpsc-form-actions {
		margin-bottom: 0;
	}
	
	.wpsc-field {
		margin-right: 5%;
	}
}