/*****************
Product List
*****************/
.wpsc-thumbnail-wrapper {
    display: inline-block;
}

.wpsc-page-main-store .wpsc-product-summary {
    display: inline-block;
    float: right;
}
