/**********************************
Product Grid on Archive Store Pages 
**********************************/

.post-type-archive-wpsc-product {

	.wpsc-product-description {
		display: none;
	}

	#wpsc-products {
	    margin-left: $grid_margin * -1;
	    font-size: 0;
	}

	.wpsc-product {
	    display: inline-block;
	    margin: 0 0 $grid_margin $grid_margin;
	    font-size: initial;
	}

	.wpsc-product-thumbnail {
		margin: 0 0 10px;
		img {
			max-width: 100%;
			height: auto;
		}
	}

}

.wpsc-column-2 {
	width: $columns-2;
}
.wpsc-column-3 {
	width: $columns-3;
}
.wpsc-column-4 {
	width: $columns-4;
}
.wpsc-column-5 {
	width: $columns-5;
}
.wpsc-column-6 {
	width: $columns-6;
}
