/*******************
Opinionated Styles
********************/

/* Typography */

.wpsc-product {
	font-size: $base-font;
	text-align: center;
}
.wpsc-column-2 {
	.wpsc-product-title {
		font-size: $font-size-col-2;
	}
}
.wpsc-column-3 {
	.wpsc-product-title {
		font-size: $font-size-col-3;
	}
}
.wpsc-column-4 {
	.wpsc-product-title {
		font-size: $font-size-col-4;
	}
}
.wpsc-column-5 {
	.wpsc-product-title {
		font-size: $font-size-col-5;
	}
}
.wpsc-column-6 {
	.wpsc-product-title {
		font-size: $font-size-col-6;
	}
}
.wpsc-thumbnail-wrapper {
    margin-bottom: 16px;
}

/* Variations and Quantity */
.wpsc-field-quantity,
.wpsc-field {
	display: none;
}

/* Sale Info */
.wpsc-product-price br {
    display: none;
}
.wpsc-old-price {
    font-size: .8em;
    color: #666;
}
ins.wpsc-sale-price {
    background: initial;
    margin-left: 5px;
    white-space: nowrap;
    color: initial;
}

/* Flexbox */
#wpsc-products {
	@include flexbox();
	@include flex-wrap(wrap);
}
.wpsc-product,
.wpsc-product-summary,
.wpsc-product-header {
	@include flexbox();
	@include flex-direction(column);
}
.wpsc-product-summary,
.wpsc-product-header {
	@include justify-content(space-between);
}
.wpsc-product-summary {
	height: 100%;
}
.wpsc-product-header {
    @include flex(1 0 auto);
}







