/*******************
Opinionated Styles
********************/

/* Typography */

.wpsc-product {
	font-size: $base-font;
	text-align: center;
}
//Product Title, Old Price, Sale Price, and Reg Price
$cols: 2 3 4 5 6;
$title-size: $title-size-col-2 $title-size-col-3 $title-size-col-4 $title-size-col-5 $title-size-col-6;
$price-size: $price-size-col-2 $price-size-col-3 $price-size-col-4 $price-size-col-5 $price-size-col-6;
$sml-size: $sml-size-col-2 $sml-size-col-3 $sml-size-col-4 $sml-size-col-5 $sml-size-col-6;

@each $col in $cols {
	$i: index($cols, $col);
	.wpsc-column-#{$col} {
    	.wpsc-product-title {
    		font-size: nth($title-size, $i);
    	}
    	.wpsc-old-price{
			font-size: nth($sml-size, $i);
		}
		@include price( nth( $price-size, $i) );
	}
}
.wpsc-thumbnail-wrapper {
    margin-bottom: 16px;
}

/* Variations and Quantity */
.wpsc-field-quantity,
.wpsc-field {
	display: none;
}

/* Sale Info */
.wpsc-product-price br {
    display: none;
}
.wpsc-old-price {
    font-size: .8em;
    color: #666;
}
ins.wpsc-sale-price {
    background: initial;
    margin-left: 5px;
    white-space: nowrap;
    color: initial;
}

/* Flexbox */
@media (min-width: 550px) {
	#wpsc-products {
		@include flexbox();
		@include flex-wrap(wrap);
	}
	.wpsc-product,
	.wpsc-product-summary,
	.wpsc-product-header {
		@include flexbox();
		@include flex-direction(column);
	}
	.wpsc-product-summary,
	.wpsc-product-header {
		@include justify-content(space-between);
	}
	.wpsc-product-summary {
		height: 100%;
	}
	.wpsc-product-header {
	    @include flex(1 0 auto);
	}
}


/* Layout */
// Center buttons on product grid
.wpsc-form-actions button {
	margin-left: auto;
	margin-right: auto;
}




