/**********************************
Product Grid on Archive Store Pages 
**********************************/

.wpsc-product-description {
	display: none;
}

#wpsc-products {
    margin-left: $grid_margin * -1;
    font-size: 0;
}

.wpsc-product {
    display: inline-block;
    margin: 0 0 7% $grid_margin;
    font-size: initial;
    vertical-align: top;
    padding-top: 0;
    & + .wpsc-product {
    	margin-top: 0;
    }
}

.wpsc-product-summary {
	width: 100%;
}

.wpsc-product-thumbnail {
	margin: 0 0 10px;
	img {
		max-width: 100%;
		height: auto;
	}
}

.wpsc-product-title {
	margin-top: 0;
	//Keeps title breaking at words and not hyphenating before desired
	word-wrap: normal;
    hyphens: initial;
}

.wpsc-column-2 {
	width: $columns-2;
}
.wpsc-column-3 {
	width: $columns-3;
}
.wpsc-column-4 {
	width: $columns-4;
}
.wpsc-column-5 {
	width: $columns-5;
}
.wpsc-column-6 {
	width: $columns-6;
}
