/*****************
Product List
*****************/
.wpsc-product {
	@media screen and (min-width: 550px) {
		@include flexbox();
		@include justify-content(space-between);
	}
}

h2.wpsc-product-title {
	margin-top: 1em;
	@media screen and (min-width: 550px) {
		margin-top: 0;
	}
}

@import 'modules/single-product/_product-module';