/*******************
Opinionated Styles
********************/

/* Typography */

.wpsc-product {
	font-size: $base-font;
	text-align: center;
}
.wpsc-column-2 {
	.wpsc-product-title {
		font-size: $font-size-col-2;
	}
}
.wpsc-column-3 {
	.wpsc-product-title {
		font-size: $font-size-col-3;
	}
}
.wpsc-column-4 {
	.wpsc-product-title {
		font-size: $font-size-col-4;
	}
}
.wpsc-column-5 {
	.wpsc-product-title {
		font-size: $font-size-col-5;
	}
}
.wpsc-column-6 {
	.wpsc-product-title {
		font-size: $font-size-col-6;
	}
}
.wpsc-thumbnail-wrapper {
    margin-bottom: 16px;
}

/* Sale Info */
.wpsc-field-quantity,
.wpsc-you-save,
.wpsc-field {
	display: none;
}

/* Flexbox */
#wpsc-products {
	@include flexbox();
	@include flex-wrap(wrap);
}
.wpsc-product {
	@include flexbox();
	@include flex-direction(column);
}
.wpsc-product-summary {
	@extend .wpsc-product;
	@include justify-content(space-between);
	height: 100%;
}
.wpsc-product-header {
	@extend .wpsc-product;
	@include justify-content(space-between);
    @include flex(1 0 auto);
}







