/*******************
Variables 
*******************/

/* Typography */
$bold: 600;
$font-size-col-2: 2em;
$font-size-col-3: 1.75em;
$font-size-col-4: 1.5em;
$font-size-col-5: 1.25em;
$font-size-col-6: 1.15em;

/* Shopping Cart Single Product Cells (Needs to add up to 100%) */
$cell_margin: 2.5%; /* value x 4 i.e. 2.5 x 4 = 10% */
$cart_image_width: 20%;
$cart_items_width: 40%;
$cart_unit-price_width: 10%;
$cart_quantity_width: 10%;
$cart_item-total_width: 10%;

$cart_border: 1px solid #ccc;

/* Account Orders  */
$account_id_width: 10%;
$account_date_width: 20%;
$account_status_width: 20%;
$account_tracking_width: 30%;
$account_total_width: 10%;

/* Digital Orders (Needs to add up to 100%) */
$digital_product_width: 35%;
$digital_content_width: 60%;
$digital_margin: 5%;

/*Product Grid*/
$grid_margin: 2.5%;
$columns-2: 50% - $grid_margin; 
$columns-3: 33.333% - $grid_margin;
$columns-4: 25% - $grid_margin;
$columns-5: 20% - $grid_margin;
$columns-6: 16.666% - $grid_margin;
$full-width: 100%;